NewPatientApptBooking.xml
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <actionCalls>
    <name>GeoNearest</name>
    <label>GeoNearest</label>
    <locationX>715</locationX>
    <locationY>3062</locationY>
    <actionName>GeoNearest</actionName>
    <actionType>apex</actionType>
    <connector>
      <targetReference>LocationScreen</targetReference>
    </connector>
    <faultConnector>
      <targetReference>Fault_Message</targetReference>
    </faultConnector>
    <flowTransactionModel>Automatic</flowTransactionModel>
    <inputParameters>
      <name>zipcodes</name>
      <value>
        <elementReference>Zipcode</elementReference>
      </value>
    </inputParameters>
    <nameSegment>GeoNearest</nameSegment>
    <outputParameters>
      <assignToReference>apexLatitude</assignToReference>
      <name>mLatitude</name>
    </outputParameters>
    <outputParameters>
      <assignToReference>apexLongitude</assignToReference>
      <name>mLongitude</name>
    </outputParameters>
    <versionSegment>1</versionSegment>
  </actionCalls>
  <actionCalls>
    <name>Save_Appointment</name>
    <label>Save Appointment</label>
    <locationX>1564</locationX>
    <locationY>4234</locationY>
    <actionName>saveAppointment</actionName>
    <actionType>saveAppointment</actionType>
    <connector>
      <targetReference>SetConfirmationStage</targetReference>
    </connector>
    <faultConnector>
      <targetReference>ReviewScreen</targetReference>
    </faultConnector>
    <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    <inputParameters>
      <name>optionalServiceResourceId</name>
      <value>
        <elementReference>OptionalAttendees</elementReference>
      </value>
    </inputParameters>
    <inputParameters>
      <name>selectedTimezone</name>
      <value>
        <elementReference>selectedTimezone</elementReference>
      </value>
    </inputParameters>
    <inputParameters>
      <name>serviceAppointmentFields</name>
      <value>
        <elementReference>ServiceAppointmentFields</elementReference>
      </value>
    </inputParameters>
    <nameSegment>saveAppointment</nameSegment>
    <outputParameters>
      <assignToReference>ServiceAppointment.Id</assignToReference>
      <name>serviceAppointmentId</name>
    </outputParameters>
    <versionSegment>1</versionSegment>
  </actionCalls>
  <actionCalls>
    <name>Send_confirmation_email_for_portal</name>
    <label>Send confirmation email for portal</label>
    <locationX>1371</locationX>
    <locationY>5414</locationY>
    <actionName>emailSimple</actionName>
    <actionType>emailSimple</actionType>
    <connector>
      <targetReference>get_account</targetReference>
    </connector>
    <faultConnector>
      <targetReference>faultmessage</targetReference>
    </faultConnector>
    <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    <inputParameters>
      <name>emailBody</name>
      <value>
        <elementReference>Bodyofemail</elementReference>
      </value>
    </inputParameters>
    <inputParameters>
      <name>emailAddresses</name>
      <value>
        <elementReference>Emailfrominitialform.value</elementReference>
      </value>
    </inputParameters>
    <inputParameters>
      <name>sendRichBody</name>
      <value>
        <booleanValue>true</booleanValue>
      </value>
    </inputParameters>
    <inputParameters>
      <name>senderAddress</name>
      <value>
        <stringValue>devorg@cloudnerd.com</stringValue>
      </value>
    </inputParameters>
    <inputParameters>
      <name>emailSubject</name>
      <value>
        <elementReference>Subject</elementReference>
      </value>
    </inputParameters>
    <nameSegment>emailSimple</nameSegment>
    <versionSegment>1</versionSegment>
  </actionCalls>
  <apiVersion>53.0</apiVersion>
  <assignments>
    <name>Initial_Assignment</name>
    <label>Initial Assignment</label>
    <locationX>711</locationX>
    <locationY>1646</locationY>
    <assignmentItems>
      <assignToReference>ServiceAppointment.ParentRecordId</assignToReference>
      <operator>Assign</operator>
      <value>
        <elementReference>create_new_leads</elementReference>
      </value>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>ServiceAppointment.AdditionalInformation</assignToReference>
      <operator>Assign</operator>
      <value>
        <stringValue></stringValue>
      </value>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>ServiceAppointment.Comments</assignToReference>
      <operator>Assign</operator>
      <value>
        <stringValue></stringValue>
      </value>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>ServiceAppointment.AppointmentType</assignToReference>
      <operator>Assign</operator>
      <value>
        <stringValue></stringValue>
      </value>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>ServiceAppointment.Street</assignToReference>
      <operator>Assign</operator>
      <value>
        <stringValue></stringValue>
      </value>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>ServiceAppointment.City</assignToReference>
      <operator>Assign</operator>
      <value>
        <stringValue></stringValue>
      </value>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>ServiceAppointment.State</assignToReference>
      <operator>Assign</operator>
      <value>
        <stringValue></stringValue>
      </value>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>ServiceAppointment.PostalCode</assignToReference>
      <operator>Assign</operator>
      <value>
        <stringValue></stringValue>
      </value>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>ServiceAppointment.Country</assignToReference>
      <operator>Assign</operator>
      <value>
        <stringValue></stringValue>
      </value>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>ServiceAppointment.ServiceTerritoryId</assignToReference>
      <operator>Assign</operator>
      <value>
        <stringValue></stringValue>
      </value>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>ServiceAppointment.SchedStartTime</assignToReference>
      <operator>Assign</operator>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>ServiceAppointment.SchedEndTime</assignToReference>
      <operator>Assign</operator>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>ServiceAppointment.ArrivalWindowStartTime</assignToReference>
      <operator>Assign</operator>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>ServiceAppointment.ArrivalWindowEndTime</assignToReference>
      <operator>Assign</operator>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>Lead.FirstName</assignToReference>
      <operator>Assign</operator>
      <value>
        <stringValue></stringValue>
      </value>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>Lead.LastName</assignToReference>
      <operator>Assign</operator>
      <value>
        <stringValue></stringValue>
      </value>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>Lead.Email</assignToReference>
      <operator>Assign</operator>
      <value>
        <stringValue></stringValue>
      </value>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>Lead.Phone</assignToReference>
      <operator>Assign</operator>
      <value>
        <stringValue></stringValue>
      </value>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>Lead.Company</assignToReference>
      <operator>Assign</operator>
      <value>
        <stringValue></stringValue>
      </value>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>ServiceAppointment.IsAnonymousBooking</assignToReference>
      <operator>Assign</operator>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>ServiceAppointment.AppointmentSource__c</assignToReference>
      <operator>Assign</operator>
      <value>
        <stringValue>Web</stringValue>
      </value>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>WorkTypeGroupId</assignToReference>
      <operator>Assign</operator>
      <value>
        <elementReference>Get_WorkTypeGroupId.Id</elementReference>
      </value>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>ServiceAppointment.Booking_Channel__c</assignToReference>
      <operator>Assign</operator>
      <value>
        <stringValue>Patient portal</stringValue>
      </value>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>ServiceAppointment.Email</assignToReference>
      <operator>Assign</operator>
      <value>
        <elementReference>Emailfrominitialform.value</elementReference>
      </value>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>ServiceAppointment.AppointmentSource__c</assignToReference>
      <operator>Assign</operator>
      <value>
        <stringValue>Web</stringValue>
      </value>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>leadIdintext</assignToReference>
      <operator>Assign</operator>
      <value>
        <elementReference>create_new_leads</elementReference>
      </value>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>DefaultTimeZone</assignToReference>
      <operator>Assign</operator>
      <value>
        <elementReference>Call_Zip_Code_Object_Lookup.returnTimeZoneName</elementReference>
      </value>
    </assignmentItems>
    <connector>
      <targetReference>SetTopicStage</targetReference>
    </connector>
  </assignments>
  <assignments>
    <name>Initial_Assignment_0</name>
    <label>Initial Assignment</label>
    <locationX>975</locationX>
    <locationY>1406</locationY>
    <assignmentItems>
      <assignToReference>ServiceAppointment.ParentRecordId</assignToReference>
      <operator>Assign</operator>
      <value>
        <elementReference>getlead.Id</elementReference>
      </value>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>ServiceAppointment.AdditionalInformation</assignToReference>
      <operator>Assign</operator>
      <value>
        <stringValue></stringValue>
      </value>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>ServiceAppointment.Comments</assignToReference>
      <operator>Assign</operator>
      <value>
        <stringValue></stringValue>
      </value>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>ServiceAppointment.AppointmentType</assignToReference>
      <operator>Assign</operator>
      <value>
        <stringValue></stringValue>
      </value>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>ServiceAppointment.Street</assignToReference>
      <operator>Assign</operator>
      <value>
        <stringValue></stringValue>
      </value>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>ServiceAppointment.City</assignToReference>
      <operator>Assign</operator>
      <value>
        <stringValue></stringValue>
      </value>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>ServiceAppointment.State</assignToReference>
      <operator>Assign</operator>
      <value>
        <stringValue></stringValue>
      </value>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>ServiceAppointment.PostalCode</assignToReference>
      <operator>Assign</operator>
      <value>
        <stringValue></stringValue>
      </value>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>ServiceAppointment.Country</assignToReference>
      <operator>Assign</operator>
      <value>
        <stringValue></stringValue>
      </value>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>ServiceAppointment.ServiceTerritoryId</assignToReference>
      <operator>Assign</operator>
      <value>
        <stringValue></stringValue>
      </value>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>ServiceAppointment.SchedStartTime</assignToReference>
      <operator>Assign</operator>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>ServiceAppointment.SchedEndTime</assignToReference>
      <operator>Assign</operator>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>ServiceAppointment.ArrivalWindowStartTime</assignToReference>
      <operator>Assign</operator>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>ServiceAppointment.ArrivalWindowEndTime</assignToReference>
      <operator>Assign</operator>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>Lead.FirstName</assignToReference>
      <operator>Assign</operator>
      <value>
        <stringValue></stringValue>
      </value>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>Lead.LastName</assignToReference>
      <operator>Assign</operator>
      <value>
        <stringValue></stringValue>
      </value>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>Lead.Email</assignToReference>
      <operator>Assign</operator>
      <value>
        <stringValue></stringValue>
      </value>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>Lead.Phone</assignToReference>
      <operator>Assign</operator>
      <value>
        <stringValue></stringValue>
      </value>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>Lead.Company</assignToReference>
      <operator>Assign</operator>
      <value>
        <stringValue></stringValue>
      </value>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>ServiceAppointment.IsAnonymousBooking</assignToReference>
      <operator>Assign</operator>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>ServiceAppointment.AppointmentSource__c</assignToReference>
      <operator>Assign</operator>
      <value>
        <stringValue>Web</stringValue>
      </value>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>WorkTypeGroupId</assignToReference>
      <operator>Assign</operator>
      <value>
        <elementReference>Get_WorkTypeGroupId.Id</elementReference>
      </value>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>ServiceAppointment.Booking_Channel__c</assignToReference>
      <operator>Assign</operator>
      <value>
        <stringValue>Patient portal</stringValue>
      </value>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>ServiceAppointment.Email</assignToReference>
      <operator>Assign</operator>
      <value>
        <elementReference>Emailfrominitialform.value</elementReference>
      </value>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>ServiceAppointment.AppointmentSource__c</assignToReference>
      <operator>Assign</operator>
      <value>
        <stringValue>Web</stringValue>
      </value>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>leadIdintext</assignToReference>
      <operator>Assign</operator>
      <value>
        <elementReference>getlead.Id</elementReference>
      </value>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>DefaultTimeZone</assignToReference>
      <operator>Assign</operator>
      <value>
        <elementReference>getlead.Last_Touch_Zip_Code_Lookup__r.pw_ccpro__TimeZone__r.Name</elementReference>
      </value>
    </assignmentItems>
    <connector>
      <targetReference>SetTopicStage</targetReference>
    </connector>
  </assignments>
  <assignments>
    <name>location_assignment</name>
    <label>location assignment</label>
    <locationX>711</locationX>
    <locationY>2942</locationY>
    <assignmentItems>
      <assignToReference>LocationLatitude</assignToReference>
      <operator>Assign</operator>
      <value>
        <elementReference>Call_Zip_Code_Object_Lookup.returnLatitude</elementReference>
      </value>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>LocationLongitude</assignToReference>
      <operator>Assign</operator>
      <value>
        <elementReference>Call_Zip_Code_Object_Lookup.returnLongitude</elementReference>
      </value>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>ServiceAppointment.AppointmentType</assignToReference>
      <operator>Assign</operator>
      <value>
        <elementReference>selectedappointmenttypevalue</elementReference>
      </value>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>ServiceAppointment.Booking_Channel__c</assignToReference>
      <operator>Assign</operator>
      <value>
        <stringValue>Patient portal</stringValue>
      </value>
    </assignmentItems>
    <connector>
      <targetReference>GeoNearest</targetReference>
    </connector>
  </assignments>
  <assignments>
    <name>serviceappointmentsassignments</name>
    <label>serviceappointmentsassignments</label>
    <locationX>1503</locationX>
    <locationY>2582</locationY>
    <assignmentItems>
      <assignToReference>ServiceAppointment.Comments</assignToReference>
      <operator>Assign</operator>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>ServiceAppointment.Comments</assignToReference>
      <operator>Assign</operator>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>ServiceAppointment.AppointmentType</assignToReference>
      <operator>Assign</operator>
      <value>
        <stringValue>In Location Weight Loss</stringValue>
      </value>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>ServiceAppointment.City</assignToReference>
      <operator>Assign</operator>
      <value>
        <stringValue>test</stringValue>
      </value>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>ServiceAppointment.Country</assignToReference>
      <operator>Assign</operator>
      <value>
        <stringValue>test</stringValue>
      </value>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>LocationDistance</assignToReference>
      <operator>Assign</operator>
      <value>
        <numberValue>5.0</numberValue>
      </value>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>LocationLatitude</assignToReference>
      <operator>Assign</operator>
      <value>
        <elementReference>selectedappointmenttypevalue</elementReference>
      </value>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>SelectedLocation</assignToReference>
      <operator>Assign</operator>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>ServiceAppointment.ServiceTerritoryId</assignToReference>
      <operator>Assign</operator>
      <value>
        <elementReference>getserviceterritoryrecord.Id</elementReference>
      </value>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>LocationLongitude</assignToReference>
      <operator>Assign</operator>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>ServiceAppointment.PostalCode</assignToReference>
      <operator>Assign</operator>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>ServiceAppointment.State</assignToReference>
      <operator>Assign</operator>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>ServiceAppointment.Street</assignToReference>
      <operator>Assign</operator>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>DefaultTimeZone</assignToReference>
      <operator>Assign</operator>
      <value>
        <elementReference>Call_Zip_Code_Object_Lookup.returnTimeZoneName</elementReference>
      </value>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>ServiceAppointment.AppointmentType</assignToReference>
      <operator>Assign</operator>
      <value>
        <elementReference>selectedappointmenttypevalue</elementReference>
      </value>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>ServiceAppointment.Booking_Channel__c</assignToReference>
      <operator>Assign</operator>
      <value>
        <stringValue>Patient portal</stringValue>
      </value>
    </assignmentItems>
    <connector>
      <targetReference>Set_Composite_Stage</targetReference>
    </connector>
  </assignments>
  <assignments>
    <name>Set_Composite_Stage</name>
    <label>Set Composite Stage</label>
    <locationX>1503</locationX>
    <locationY>2702</locationY>
    <assignmentItems>
      <assignToReference>$Flow.CurrentStage</assignToReference>
      <operator>Assign</operator>
      <value>
        <elementReference>CompositeStage</elementReference>
      </value>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>ServiceResourceId</assignToReference>
      <operator>Assign</operator>
      <value>
        <elementReference>getresourceid.Id</elementReference>
      </value>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>ServiceAppointment.City</assignToReference>
      <operator>Assign</operator>
      <value>
        <elementReference>Call_Zip_Code_Object_Lookup.returnCity</elementReference>
      </value>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>ServiceAppointment.Country</assignToReference>
      <operator>Assign</operator>
      <value>
        <stringValue>United States</stringValue>
      </value>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>ServiceAppointment.PostalCode</assignToReference>
      <operator>Assign</operator>
      <value>
        <elementReference>Call_Zip_Code_Object_Lookup.returnZipCodeName</elementReference>
      </value>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>ServiceAppointment.State</assignToReference>
      <operator>Assign</operator>
      <value>
        <elementReference>Call_Zip_Code_Object_Lookup.returnState</elementReference>
      </value>
    </assignmentItems>
    <connector>
      <targetReference>Candidate_Composite_Screen</targetReference>
    </connector>
  </assignments>
  <assignments>
    <name>SetAppointmentStage</name>
    <label>Set Appointment Stage</label>
    <locationX>1503</locationX>
    <locationY>2462</locationY>
    <assignmentItems>
      <assignToReference>$Flow.CurrentStage</assignToReference>
      <operator>Assign</operator>
      <value>
        <elementReference>AppointmentTypeStage</elementReference>
      </value>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>ServiceResourceId</assignToReference>
      <operator>Assign</operator>
      <value>
        <elementReference>getresourceid.Id</elementReference>
      </value>
    </assignmentItems>
    <connector>
      <targetReference>serviceappointmentsassignments</targetReference>
    </connector>
  </assignments>
  <assignments>
    <name>SetConfirmationStage</name>
    <label>Set Confirmation Stage</label>
    <locationX>1371</locationX>
    <locationY>4334</locationY>
    <assignmentItems>
      <assignToReference>$Flow.CurrentStage</assignToReference>
      <operator>Assign</operator>
      <value>
        <elementReference>ConfirmationStage</elementReference>
      </value>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>ServiceAppointmentId</assignToReference>
      <operator>Assign</operator>
      <value>
        <elementReference>ServiceAppointment.Id</elementReference>
      </value>
    </assignmentItems>
    <connector>
      <targetReference>update_lead_status_Booked</targetReference>
    </connector>
  </assignments>
  <assignments>
    <name>SetReviewStage</name>
    <label>Set Review Stage</label>
    <locationX>1371</locationX>
    <locationY>3734</locationY>
    <assignmentItems>
      <assignToReference>$Flow.CurrentStage</assignToReference>
      <operator>Assign</operator>
      <value>
        <elementReference>ReviewStage</elementReference>
      </value>
    </assignmentItems>
    <connector>
      <targetReference>getrecordofworktypegroup</targetReference>
    </connector>
  </assignments>
  <assignments>
    <name>SetTopicStage</name>
    <label>Set Topic Stage</label>
    <locationX>1371</locationX>
    <locationY>1982</locationY>
    <assignmentItems>
      <assignToReference>$Flow.CurrentStage</assignToReference>
      <operator>Assign</operator>
      <value>
        <elementReference>TopicStage</elementReference>
      </value>
    </assignmentItems>
    <connector>
      <targetReference>getserviceterritoryrecord</targetReference>
    </connector>
  </assignments>
  <choices>
    <name>typeLocation</name>
    <choiceText>In Location&lt;p&gt;&lt;br&gt;&lt;/p&gt;</choiceText>
    <dataType>String</dataType>
    <value>
      <stringValue>InLocation</stringValue>
    </value>
  </choices>
  <choices>
    <name>typeVideo</name>
    <choiceText>Video Only</choiceText>
    <dataType>String</dataType>
    <value>
      <stringValue>VideoOnly</stringValue>
    </value>
  </choices>
  <constants>
    <name>defailtnumberofrecords</name>
    <dataType>Number</dataType>
    <value>
      <numberValue>1.0</numberValue>
    </value>
  </constants>
  <constants>
    <name>DEFAULT_COMPANY_VALUE</name>
    <dataType>String</dataType>
    <value>
      <stringValue>Not Provided</stringValue>
    </value>
  </constants>
  <constants>
    <name>FIND_RESOURCE</name>
    <dataType>String</dataType>
    <value>
      <stringValue>findResource</stringValue>
    </value>
  </constants>
  <decisions>
    <name>Decision_which_record_to_relate_patient_with</name>
    <label>Decision which record to relate patient with</label>
    <locationX>1371</locationX>
    <locationY>1286</locationY>
    <defaultConnector>
      <targetReference>Zip_Code_Not_In_Service</targetReference>
    </defaultConnector>
    <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
    <rules>
      <name>New_Lead</name>
      <conditionLogic>and</conditionLogic>
      <conditions>
        <leftValueReference>getlead.Id</leftValueReference>
        <operator>IsNull</operator>
        <rightValue>
          <booleanValue>true</booleanValue>
        </rightValue>
      </conditions>
      <conditions>
        <leftValueReference>getcontactrecords.Id</leftValueReference>
        <operator>IsNull</operator>
        <rightValue>
          <booleanValue>true</booleanValue>
        </rightValue>
      </conditions>
      <conditions>
        <leftValueReference>zipCodeIsUnknown</leftValueReference>
        <operator>EqualTo</operator>
        <rightValue>
          <booleanValue>false</booleanValue>
        </rightValue>
      </conditions>
      <conditions>
        <leftValueReference>Call_Zip_Code_Object_Lookup.returnStateActiveTelemed</leftValueReference>
        <operator>EqualTo</operator>
        <rightValue>
          <booleanValue>true</booleanValue>
        </rightValue>
      </conditions>
      <connector>
        <targetReference>create_new_leads</targetReference>
      </connector>
      <label>New Lead</label>
    </rules>
    <rules>
      <name>Existing_Lead</name>
      <conditionLogic>and</conditionLogic>
      <conditions>
        <leftValueReference>getlead.Id</leftValueReference>
        <operator>IsNull</operator>
        <rightValue>
          <booleanValue>false</booleanValue>
        </rightValue>
      </conditions>
      <conditions>
        <leftValueReference>get_user.Id</leftValueReference>
        <operator>IsNull</operator>
        <rightValue>
          <booleanValue>true</booleanValue>
        </rightValue>
      </conditions>
      <conditions>
        <leftValueReference>get_accounts_before_decision.Id</leftValueReference>
        <operator>IsNull</operator>
        <rightValue>
          <booleanValue>true</booleanValue>
        </rightValue>
      </conditions>
      <connector>
        <targetReference>Initial_Assignment_0</targetReference>
      </connector>
      <label>Existing Lead</label>
    </rules>
    <rules>
      <name>Existing_Client</name>
      <conditionLogic>and</conditionLogic>
      <conditions>
        <leftValueReference>getcontactrecords.Id</leftValueReference>
        <operator>IsNull</operator>
        <rightValue>
          <booleanValue>false</booleanValue>
        </rightValue>
      </conditions>
      <conditions>
        <leftValueReference>get_user.Id</leftValueReference>
        <operator>IsNull</operator>
        <rightValue>
          <booleanValue>false</booleanValue>
        </rightValue>
      </conditions>
      <conditions>
        <leftValueReference>get_accounts_before_decision.Id</leftValueReference>
        <operator>IsNull</operator>
        <rightValue>
          <booleanValue>false</booleanValue>
        </rightValue>
      </conditions>
      <connector>
        <targetReference>redirect</targetReference>
      </connector>
      <label>Existing Client</label>
    </rules>
    <rules>
      <name>Account_exists_but_user_record_is_missing</name>
      <conditionLogic>(1 OR 3 OR 4) AND 2</conditionLogic>
      <conditions>
        <leftValueReference>getcontactrecords.Id</leftValueReference>
        <operator>IsNull</operator>
        <rightValue>
          <booleanValue>false</booleanValue>
        </rightValue>
      </conditions>
      <conditions>
        <leftValueReference>get_user.Id</leftValueReference>
        <operator>IsNull</operator>
        <rightValue>
          <booleanValue>true</booleanValue>
        </rightValue>
      </conditions>
      <conditions>
        <leftValueReference>get_accounts_before_decision.Id</leftValueReference>
        <operator>IsNull</operator>
        <rightValue>
          <booleanValue>false</booleanValue>
        </rightValue>
      </conditions>
      <conditions>
        <leftValueReference>getlead.Id</leftValueReference>
        <operator>IsNull</operator>
        <rightValue>
          <booleanValue>false</booleanValue>
        </rightValue>
      </conditions>
      <connector>
        <targetReference>Register_User_Redirect_Page</targetReference>
      </connector>
      <label>Account exists but user record is missing</label>
    </rules>
    <rules>
      <name>New_Lead_Can_t_Service</name>
      <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
      <conditions>
        <leftValueReference>getlead.Id</leftValueReference>
        <operator>IsNull</operator>
        <rightValue>
          <booleanValue>true</booleanValue>
        </rightValue>
      </conditions>
      <conditions>
        <leftValueReference>getcontactrecords.Id</leftValueReference>
        <operator>IsNull</operator>
        <rightValue>
          <booleanValue>true</booleanValue>
        </rightValue>
      </conditions>
      <conditions>
        <leftValueReference>zipCodeIsUnknown</leftValueReference>
        <operator>EqualTo</operator>
        <rightValue>
          <booleanValue>true</booleanValue>
        </rightValue>
      </conditions>
      <conditions>
        <leftValueReference>Call_Zip_Code_Object_Lookup.returnStateActiveTelemed</leftValueReference>
        <operator>EqualTo</operator>
        <rightValue>
          <booleanValue>false</booleanValue>
        </rightValue>
      </conditions>
      <connector>
        <targetReference>Create_Lead</targetReference>
      </connector>
      <label>New Lead - Can't Service</label>
    </rules>
  </decisions>
  <decisions>
    <name>What_type_of_market_is_it</name>
    <label>What type of market is it?</label>
    <locationX>975</locationX>
    <locationY>2702</locationY>
    <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
    <rules>
      <name>Hybrid_only</name>
      <conditionLogic>and</conditionLogic>
      <conditions>
        <leftValueReference>selectedappointmenttypevalue</leftValueReference>
        <operator>EqualTo</operator>
        <rightValue>
          <stringValue>In Location</stringValue>
        </rightValue>
      </conditions>
      <connector>
        <targetReference>update_lead_status_location_selected</targetReference>
      </connector>
      <label>In Location</label>
    </rules>
    <rules>
      <name>Video_Only</name>
      <conditionLogic>and</conditionLogic>
      <conditions>
        <leftValueReference>selectedappointmenttypevalue</leftValueReference>
        <operator>EqualTo</operator>
        <rightValue>
          <stringValue>Video</stringValue>
        </rightValue>
      </conditions>
      <connector>
        <targetReference>SetAppointmentStage</targetReference>
      </connector>
      <label>Video Only</label>
    </rules>
  </decisions>
  <decisions>
    <name>What_type_of_market_is_it_0</name>
    <label>What type of market is it?</label>
    <locationX>1371</locationX>
    <locationY>2342</locationY>
    <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
    <rules>
      <name>Hybrid_only_0</name>
      <conditionLogic>and</conditionLogic>
      <conditions>
        <leftValueReference>Call_Zip_Code_Object_Lookup.returnServiceAreaMarketType</leftValueReference>
        <operator>EqualTo</operator>
        <rightValue>
          <stringValue>Hybrid</stringValue>
        </rightValue>
      </conditions>
      <connector>
        <targetReference>Type</targetReference>
      </connector>
      <label>Hybrid</label>
    </rules>
    <rules>
      <name>Video_Only_0</name>
      <conditionLogic>and</conditionLogic>
      <conditions>
        <leftValueReference>Call_Zip_Code_Object_Lookup.returnServiceAreaMarketType</leftValueReference>
        <operator>EqualTo</operator>
        <rightValue>
          <stringValue>Video Only</stringValue>
        </rightValue>
      </conditions>
      <connector>
        <targetReference>SetAppointmentStage</targetReference>
      </connector>
      <label>Video</label>
    </rules>
  </decisions>
  <dynamicChoiceSets>
    <name>Howdidyouhearaboutus</name>
    <dataType>Picklist</dataType>
    <displayField xsi:nil="true" />
    <object xsi:nil="true" />
    <picklistField>How_did_you_hear_about_us__c</picklistField>
    <picklistObject>Lead</picklistObject>
  </dynamicChoiceSets>
  <environments>Default</environments>
  <formulas>
    <name>Bodyofemail</name>
    <dataType>String</dataType>
    <expression>'Hi ' &amp;{!First_Name} &amp;BR()&amp;BR()&amp;  'Welcome to Red Mountain Weight Loss Portal. To get started, go to https://demosbox-healthcloudtrialmaster-15a4d-17ca4c6c8ca.cs68.force.com/patients/s/' &amp;BR()&amp; 'Please use your registered email, which is '&amp; {!Emailfrominitialform.value} &amp;', to login and use the password generated recently.' &amp;BR()&amp;BR()&amp; 'Thanks,' &amp;BR()&amp; 'Red Mountain Weight Loss'</expression>
  </formulas>
  <formulas>
    <name>Subject</name>
    <dataType>String</dataType>
    <expression>"Your new Patient portal with RM is ready!!!"</expression>
  </formulas>
  <formulas>
    <name>zipCodeIsUnknown</name>
    <dataType>Boolean</dataType>
    <expression>CONTAINS( {!Call_Zip_Code_Object_Lookup.returnZipCodeName},"Unknown")</expression>
  </formulas>
  <interviewLabel>New Patient Appointment Booking Flow {!$Flow.CurrentDateTime}</interviewLabel>
  <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
  <label>New Patient Appointment Booking Flow v1</label>
  <processMetadataValues>
    <name>BuilderType</name>
    <value>
      <stringValue>LightningFlowBuilder</stringValue>
    </value>
  </processMetadataValues>
  <processMetadataValues>
    <name>CanvasMode</name>
    <value>
      <stringValue>FREE_FORM_CANVAS</stringValue>
    </value>
  </processMetadataValues>
  <processType>Appointments</processType>
  <recordCreates>
    <name>Copy_1_of_Create_Form_Interaction</name>
    <label>Create Form Interaction</label>
    <locationX>1767</locationX>
    <locationY>1526</locationY>
    <connector>
      <targetReference>Zip_Code_Not_In_Service</targetReference>
    </connector>
    <faultConnector>
      <targetReference>Fault_Message_0</targetReference>
    </faultConnector>
    <inputAssignments>
      <field>Email__c</field>
      <value>
        <elementReference>Emailfrominitialform.value</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>First_Name__c</field>
      <value>
        <elementReference>First_Name</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>Form_Initial_Submission_PersonType__c</field>
      <value>
        <stringValue>New Lead</stringValue>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>GACLIENTID__c</field>
      <value>
        <elementReference>GACLIENTID</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>GATRACKID__c</field>
      <value>
        <elementReference>GATRACKID</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>GAUSERID__c</field>
      <value>
        <elementReference>GAUSERID</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>Last_Name__c</field>
      <value>
        <elementReference>Last_Name</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>Lead__c</field>
      <value>
        <elementReference>Create_Lead</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>Marketing_Opt_In_Interaction__c</field>
      <value>
        <elementReference>Marketing_Opt_In</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>RecordTypeId</field>
      <value>
        <elementReference>Get_Form_Interaction_Record_Type.Id</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>Type__c</field>
      <value>
        <stringValue>Schedule Online Appointment</stringValue>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>UTM_Campaign__c</field>
      <value>
        <elementReference>Utmcampaign</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>UTM_Content__c</field>
      <value>
        <elementReference>Utmcontent</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>UTM_Medium__c</field>
      <value>
        <elementReference>Utmmedium</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>UTM_Source__c</field>
      <value>
        <elementReference>Utmsource</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>UTM_Term__c</field>
      <value>
        <elementReference>Utmsource</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>Zipcode_Lookup__c</field>
      <value>
        <elementReference>Call_Zip_Code_Object_Lookup.returnZipCodeId</elementReference>
      </value>
    </inputAssignments>
    <object>Form_Interaction__c</object>
    <storeOutputAutomatically>true</storeOutputAutomatically>
  </recordCreates>
  <recordCreates>
    <name>Create_Form_Interaction</name>
    <label>Create Form Interaction</label>
    <locationX>711</locationX>
    <locationY>1526</locationY>
    <connector>
      <targetReference>Initial_Assignment</targetReference>
    </connector>
    <faultConnector>
      <targetReference>Fault_Message</targetReference>
    </faultConnector>
    <inputAssignments>
      <field>Email__c</field>
      <value>
        <elementReference>Emailfrominitialform.value</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>First_Name__c</field>
      <value>
        <elementReference>First_Name</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>Form_Initial_Submission_PersonType__c</field>
      <value>
        <stringValue>New Lead</stringValue>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>GACLIENTID__c</field>
      <value>
        <elementReference>GACLIENTID</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>GATRACKID__c</field>
      <value>
        <elementReference>GATRACKID</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>GAUSERID__c</field>
      <value>
        <elementReference>GAUSERID</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>Last_Name__c</field>
      <value>
        <elementReference>Last_Name</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>Lead__c</field>
      <value>
        <elementReference>create_new_leads</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>Marketing_Opt_In_Interaction__c</field>
      <value>
        <elementReference>Marketing_Opt_In</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>RecordTypeId</field>
      <value>
        <elementReference>Get_Form_Interaction_Record_Type.Id</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>Type__c</field>
      <value>
        <stringValue>Schedule Online Appointment</stringValue>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>UTM_Campaign__c</field>
      <value>
        <elementReference>Utmcampaign</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>UTM_Content__c</field>
      <value>
        <elementReference>Utmcontent</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>UTM_Medium__c</field>
      <value>
        <elementReference>Utmmedium</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>UTM_Source__c</field>
      <value>
        <elementReference>Utmsource</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>UTM_Term__c</field>
      <value>
        <elementReference>Utmsource</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>Zipcode_Lookup__c</field>
      <value>
        <elementReference>Call_Zip_Code_Object_Lookup.returnZipCodeId</elementReference>
      </value>
    </inputAssignments>
    <object>Form_Interaction__c</object>
    <storeOutputAutomatically>true</storeOutputAutomatically>
  </recordCreates>
  <recordCreates>
    <name>Create_Lead</name>
    <label>Create Lead</label>
    <locationX>1767</locationX>
    <locationY>1406</locationY>
    <connector>
      <targetReference>Copy_1_of_Create_Form_Interaction</targetReference>
    </connector>
    <faultConnector>
      <targetReference>Fault_Message_0</targetReference>
    </faultConnector>
    <inputAssignments>
      <field>Email</field>
      <value>
        <elementReference>Emailfrominitialform.value</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>FirstName</field>
      <value>
        <elementReference>First_Name</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>GACLIENTID__c</field>
      <value>
        <elementReference>GACLIENTID</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>GATRACKID__c</field>
      <value>
        <elementReference>GATRACKID</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>GAUSERID__c</field>
      <value>
        <elementReference>GAUSERID</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>How_did_you_hear_about_us__c</field>
      <value>
        <elementReference>HowDidYouHearAboutUsNew</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>LastName</field>
      <value>
        <elementReference>Last_Name</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>Last_Touch_Zip_Code_Lookup__c</field>
      <value>
        <elementReference>Call_Zip_Code_Object_Lookup.returnZipCodeId</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>LeadSource</field>
      <value>
        <stringValue>Web</stringValue>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>Marketing_Opt_In__c</field>
      <value>
        <elementReference>Marketing_Opt_In</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>Phone</field>
      <value>
        <elementReference>Phone.value</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>PostalCode</field>
      <value>
        <elementReference>Zipcode</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>RecordTypeId</field>
      <value>
        <elementReference>getrecordtype_of_lead.Id</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>Status</field>
      <value>
        <stringValue>New</stringValue>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>UTM_Campaign__c</field>
      <value>
        <elementReference>Utmcampaign</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>UTM_Content__c</field>
      <value>
        <elementReference>Utmcontent</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>UTM_Medium__c</field>
      <value>
        <elementReference>Utmmedium</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>UTM_Source__c</field>
      <value>
        <elementReference>Utmsource</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>UTM_Term__c</field>
      <value>
        <elementReference>Utmterm</elementReference>
      </value>
    </inputAssignments>
    <object>Lead</object>
    <storeOutputAutomatically>true</storeOutputAutomatically>
  </recordCreates>
  <recordCreates>
    <name>create_new_leads</name>
    <label>create new leads</label>
    <locationX>711</locationX>
    <locationY>1406</locationY>
    <connector>
      <targetReference>Create_Form_Interaction</targetReference>
    </connector>
    <faultConnector>
      <targetReference>Fault_Message</targetReference>
    </faultConnector>
    <inputAssignments>
      <field>Email</field>
      <value>
        <elementReference>Emailfrominitialform.value</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>FirstName</field>
      <value>
        <elementReference>First_Name</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>GACLIENTID__c</field>
      <value>
        <elementReference>GACLIENTID</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>GATRACKID__c</field>
      <value>
        <elementReference>GATRACKID</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>GAUSERID__c</field>
      <value>
        <elementReference>GAUSERID</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>How_did_you_hear_about_us__c</field>
      <value>
        <elementReference>HowDidYouHearAboutUsNew</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>LastName</field>
      <value>
        <elementReference>Last_Name</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>Last_Touch_Zip_Code_Lookup__c</field>
      <value>
        <elementReference>Call_Zip_Code_Object_Lookup.returnZipCodeId</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>LeadSource</field>
      <value>
        <stringValue>Web</stringValue>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>Marketing_Opt_In__c</field>
      <value>
        <elementReference>Marketing_Opt_In</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>Phone</field>
      <value>
        <elementReference>Phone.value</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>PostalCode</field>
      <value>
        <elementReference>Zipcode</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>RecordTypeId</field>
      <value>
        <elementReference>getrecordtype_of_lead.Id</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>Status</field>
      <value>
        <stringValue>New</stringValue>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>UTM_Campaign__c</field>
      <value>
        <elementReference>Utmcampaign</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>UTM_Content__c</field>
      <value>
        <elementReference>Utmcontent</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>UTM_Medium__c</field>
      <value>
        <elementReference>Utmmedium</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>UTM_Source__c</field>
      <value>
        <elementReference>Utmsource</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>UTM_Term__c</field>
      <value>
        <elementReference>Utmterm</elementReference>
      </value>
    </inputAssignments>
    <object>Lead</object>
    <storeOutputAutomatically>true</storeOutputAutomatically>
  </recordCreates>
  <recordLookups>
    <name>get_account</name>
    <label>get account</label>
    <locationX>1299</locationX>
    <locationY>5535</locationY>
    <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
    <connector>
      <targetReference>update_service_appointment_0</targetReference>
    </connector>
    <faultConnector>
      <targetReference>faultmessage</targetReference>
    </faultConnector>
    <filterLogic>and</filterLogic>
    <filters>
      <field>PersonEmail</field>
      <operator>EqualTo</operator>
      <value>
        <elementReference>Emailfrominitialform.value</elementReference>
      </value>
    </filters>
    <getFirstRecordOnly>true</getFirstRecordOnly>
    <object>Account</object>
    <storeOutputAutomatically>true</storeOutputAutomatically>
  </recordLookups>
  <recordLookups>
    <name>get_accounts_before_decision</name>
    <label>get accounts before decision</label>
    <locationX>1470</locationX>
    <locationY>680</locationY>
    <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
    <connector>
      <targetReference>get_user</targetReference>
    </connector>
    <faultConnector>
      <targetReference>Fault_Message_0_0</targetReference>
    </faultConnector>
    <filterLogic>and</filterLogic>
    <filters>
      <field>PersonEmail</field>
      <operator>EqualTo</operator>
      <value>
        <elementReference>Emailfrominitialform.value</elementReference>
      </value>
    </filters>
    <getFirstRecordOnly>true</getFirstRecordOnly>
    <object>Account</object>
    <storeOutputAutomatically>true</storeOutputAutomatically>
  </recordLookups>
  <recordLookups>
    <name>Get_Form_Interaction_Record_Type</name>
    <label>Get Form Interaction Record Type</label>
    <locationX>1371</locationX>
    <locationY>1166</locationY>
    <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
    <connector>
      <targetReference>Decision_which_record_to_relate_patient_with</targetReference>
    </connector>
    <faultConnector>
      <targetReference>Fault_Message_0_0</targetReference>
    </faultConnector>
    <filterLogic>and</filterLogic>
    <filters>
      <field>SobjectType</field>
      <operator>EqualTo</operator>
      <value>
        <stringValue>Form_Interaction__c</stringValue>
      </value>
    </filters>
    <filters>
      <field>DeveloperName</field>
      <operator>EqualTo</operator>
      <value>
        <stringValue>Response_Interaction</stringValue>
      </value>
    </filters>
    <getFirstRecordOnly>true</getFirstRecordOnly>
    <object>RecordType</object>
    <storeOutputAutomatically>true</storeOutputAutomatically>
  </recordLookups>
  <recordLookups>
    <name>get_user</name>
    <label>get user</label>
    <locationX>1371</locationX>
    <locationY>806</locationY>
    <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
    <connector>
      <targetReference>Get_WorkTypeGroupId</targetReference>
    </connector>
    <faultConnector>
      <targetReference>Fault_Message_0_0</targetReference>
    </faultConnector>
    <filterLogic>and</filterLogic>
    <filters>
      <field>Email</field>
      <operator>EqualTo</operator>
      <value>
        <elementReference>Emailfrominitialform.value</elementReference>
      </value>
    </filters>
    <getFirstRecordOnly>true</getFirstRecordOnly>
    <object>User</object>
    <storeOutputAutomatically>true</storeOutputAutomatically>
  </recordLookups>
  <recordLookups>
    <name>Get_WorkType_Id</name>
    <label>Get WorkType Id</label>
    <locationX>1533</locationX>
    <locationY>920</locationY>
    <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
    <connector>
      <targetReference>getrecordtype_of_lead</targetReference>
    </connector>
    <faultConnector>
      <targetReference>Fault_Message_0_0</targetReference>
    </faultConnector>
    <filterLogic>and</filterLogic>
    <filters>
      <field>Name</field>
      <operator>EqualTo</operator>
      <value>
        <stringValue>WL-C</stringValue>
      </value>
    </filters>
    <getFirstRecordOnly>true</getFirstRecordOnly>
    <object>WorkType</object>
    <storeOutputAutomatically>true</storeOutputAutomatically>
  </recordLookups>
  <recordLookups>
    <name>Get_WorkTypeGroupId</name>
    <label>Get WorkTypeGroupId</label>
    <locationX>1370</locationX>
    <locationY>903</locationY>
    <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
    <connector>
      <targetReference>Get_WorkType_Id</targetReference>
    </connector>
    <faultConnector>
      <targetReference>Fault_Message_0_0</targetReference>
    </faultConnector>
    <filterLogic>and</filterLogic>
    <filters>
      <field>Name</field>
      <operator>EqualTo</operator>
      <value>
        <stringValue>WL-C</stringValue>
      </value>
    </filters>
    <getFirstRecordOnly>true</getFirstRecordOnly>
    <object>WorkTypeGroup</object>
    <storeOutputAutomatically>true</storeOutputAutomatically>
  </recordLookups>
  <recordLookups>
    <name>getcontactrecords</name>
    <label>getcontactrecords</label>
    <locationX>1371</locationX>
    <locationY>326</locationY>
    <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
    <connector>
      <targetReference>getlead</targetReference>
    </connector>
    <faultConnector>
      <targetReference>Fault_Message_0_0</targetReference>
    </faultConnector>
    <filterLogic>and</filterLogic>
    <filters>
      <field>Email</field>
      <operator>EqualTo</operator>
      <value>
        <elementReference>Emailfrominitialform.value</elementReference>
      </value>
    </filters>
    <getFirstRecordOnly>true</getFirstRecordOnly>
    <object>Contact</object>
    <storeOutputAutomatically>true</storeOutputAutomatically>
  </recordLookups>
  <recordLookups>
    <name>getlead</name>
    <label>getlead</label>
    <locationX>1371</locationX>
    <locationY>446</locationY>
    <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
    <connector>
      <targetReference>Call_Zip_Code_Object_Lookup</targetReference>
    </connector>
    <faultConnector>
      <targetReference>Fault_Message_0_0</targetReference>
    </faultConnector>
    <filterLogic>and</filterLogic>
    <filters>
      <field>Email</field>
      <operator>EqualTo</operator>
      <value>
        <elementReference>Emailfrominitialform.value</elementReference>
      </value>
    </filters>
    <getFirstRecordOnly>true</getFirstRecordOnly>
    <object>Lead</object>
    <storeOutputAutomatically>true</storeOutputAutomatically>
  </recordLookups>
  <recordLookups>
    <name>getrecordofworktypegroup</name>
    <label>getrecordofworktypegroup</label>
    <locationX>1370</locationX>
    <locationY>3852</locationY>
    <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
    <connector>
      <targetReference>ReviewScreen</targetReference>
    </connector>
    <faultConnector>
      <targetReference>Fault_Message_0_0_0</targetReference>
    </faultConnector>
    <filterLogic>and</filterLogic>
    <filters>
      <field>Id</field>
      <operator>EqualTo</operator>
      <value>
        <elementReference>WorkTypeGroupId</elementReference>
      </value>
    </filters>
    <getFirstRecordOnly>true</getFirstRecordOnly>
    <object>WorkTypeGroup</object>
    <storeOutputAutomatically>true</storeOutputAutomatically>
  </recordLookups>
  <recordLookups>
    <name>getrecordtype_of_lead</name>
    <label>getrecordtype of lead</label>
    <locationX>1371</locationX>
    <locationY>1046</locationY>
    <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
    <connector>
      <targetReference>Get_Form_Interaction_Record_Type</targetReference>
    </connector>
    <faultConnector>
      <targetReference>Fault_Message_0_0</targetReference>
    </faultConnector>
    <filterLogic>and</filterLogic>
    <filters>
      <field>Name</field>
      <operator>EqualTo</operator>
      <value>
        <stringValue>Patient</stringValue>
      </value>
    </filters>
    <getFirstRecordOnly>true</getFirstRecordOnly>
    <object>RecordType</object>
    <storeOutputAutomatically>true</storeOutputAutomatically>
  </recordLookups>
  <recordLookups>
    <name>getresourceid</name>
    <label>getresourceid</label>
    <locationX>1371</locationX>
    <locationY>2222</locationY>
    <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
    <connector>
      <targetReference>What_type_of_market_is_it_0</targetReference>
    </connector>
    <faultConnector>
      <targetReference>Fault_Message_0_0_0</targetReference>
    </faultConnector>
    <filterLogic>and</filterLogic>
    <filters>
      <field>Name</field>
      <operator>Contains</operator>
      <value>
        <elementReference>Call_Zip_Code_Object_Lookup.returnTelemedCalendar</elementReference>
      </value>
    </filters>
    <filters>
      <field>Name</field>
      <operator>Contains</operator>
      <value>
        <stringValue>New Patient</stringValue>
      </value>
    </filters>
    <getFirstRecordOnly>true</getFirstRecordOnly>
    <object>ServiceResource</object>
    <storeOutputAutomatically>true</storeOutputAutomatically>
  </recordLookups>
  <recordLookups>
    <name>getselectedservicerecord</name>
    <label>getselectedservicerecord</label>
    <locationX>1473</locationX>
    <locationY>4549</locationY>
    <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
    <connector>
      <targetReference>update_records</targetReference>
    </connector>
    <faultConnector>
      <targetReference>Fault_Message_0_0_0</targetReference>
    </faultConnector>
    <filterLogic>and</filterLogic>
    <filters>
      <field>Id</field>
      <operator>EqualTo</operator>
      <value>
        <elementReference>ServiceResourceId</elementReference>
      </value>
    </filters>
    <object>ServiceResource</object>
    <outputAssignments>
      <assignToReference>storeresourcename</assignToReference>
      <field>Name</field>
    </outputAssignments>
  </recordLookups>
  <recordLookups>
    <name>getserviceterritoryrecord</name>
    <label>getserviceterritoryrecord</label>
    <locationX>1371</locationX>
    <locationY>2102</locationY>
    <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
    <connector>
      <targetReference>getresourceid</targetReference>
    </connector>
    <faultConnector>
      <targetReference>Fault_Message_0_0_0</targetReference>
    </faultConnector>
    <filterLogic>and</filterLogic>
    <filters>
      <field>Name</field>
      <operator>Contains</operator>
      <value>
        <elementReference>Call_Zip_Code_Object_Lookup.returnTelemedCalendar</elementReference>
      </value>
    </filters>
    <getFirstRecordOnly>true</getFirstRecordOnly>
    <object>ServiceTerritory</object>
    <storeOutputAutomatically>true</storeOutputAutomatically>
  </recordLookups>
  <recordUpdates>
    <name>update_lead_status</name>
    <label>update lead status</label>
    <locationX>975</locationX>
    <locationY>2582</locationY>
    <connector>
      <targetReference>What_type_of_market_is_it</targetReference>
    </connector>
    <faultConnector>
      <targetReference>Fault_Message</targetReference>
    </faultConnector>
    <filterLogic>and</filterLogic>
    <filters>
      <field>Id</field>
      <operator>EqualTo</operator>
      <value>
        <elementReference>leadIdintext</elementReference>
      </value>
    </filters>
    <inputAssignments>
      <field>Status</field>
      <value>
        <stringValue>Selected Market type</stringValue>
      </value>
    </inputAssignments>
    <object>Lead</object>
  </recordUpdates>
  <recordUpdates>
    <name>update_lead_status_Booked</name>
    <label>update lead status- Booked</label>
    <locationX>1197</locationX>
    <locationY>4442</locationY>
    <connector>
      <targetReference>getselectedservicerecord</targetReference>
    </connector>
    <faultConnector>
      <targetReference>faultmessage</targetReference>
    </faultConnector>
    <filterLogic>and</filterLogic>
    <filters>
      <field>Id</field>
      <operator>EqualTo</operator>
      <value>
        <elementReference>leadIdintext</elementReference>
      </value>
    </filters>
    <inputAssignments>
      <field>Status</field>
      <value>
        <stringValue>Reserved</stringValue>
      </value>
    </inputAssignments>
    <object>Lead</object>
  </recordUpdates>
  <recordUpdates>
    <name>update_lead_status_location_selected</name>
    <label>update lead status location selected</label>
    <locationX>711</locationX>
    <locationY>2822</locationY>
    <connector>
      <targetReference>location_assignment</targetReference>
    </connector>
    <faultConnector>
      <targetReference>Fault_Message</targetReference>
    </faultConnector>
    <filterLogic>and</filterLogic>
    <filters>
      <field>Id</field>
      <operator>EqualTo</operator>
      <value>
        <elementReference>leadIdintext</elementReference>
      </value>
    </filters>
    <inputAssignments>
      <field>Status</field>
      <value>
        <stringValue>Location Selected</stringValue>
      </value>
    </inputAssignments>
    <object>Lead</object>
  </recordUpdates>
  <recordUpdates>
    <name>update_lead_status_to_time_slot_selected</name>
    <label>update lead status to time slot selected</label>
    <locationX>1371</locationX>
    <locationY>3614</locationY>
    <connector>
      <targetReference>SetReviewStage</targetReference>
    </connector>
    <faultConnector>
      <targetReference>Fault_Message</targetReference>
    </faultConnector>
    <filterLogic>and</filterLogic>
    <filters>
      <field>Id</field>
      <operator>EqualTo</operator>
      <value>
        <elementReference>leadIdintext</elementReference>
      </value>
    </filters>
    <inputAssignments>
      <field>Status</field>
      <value>
        <stringValue>Time Slot Selected</stringValue>
      </value>
    </inputAssignments>
    <object>Lead</object>
  </recordUpdates>
  <recordUpdates>
    <name>update_record_to_converted</name>
    <label>update record to converted</label>
    <locationX>1371</locationX>
    <locationY>5294</locationY>
    <connector>
      <targetReference>Send_confirmation_email_for_portal</targetReference>
    </connector>
    <faultConnector>
      <targetReference>faultmessage</targetReference>
    </faultConnector>
    <filterLogic>and</filterLogic>
    <filters>
      <field>Id</field>
      <operator>EqualTo</operator>
      <value>
        <elementReference>leadIdintext</elementReference>
      </value>
    </filters>
    <inputAssignments>
      <field>Status</field>
      <value>
        <stringValue>Qualified</stringValue>
      </value>
    </inputAssignments>
    <object>Lead</object>
  </recordUpdates>
  <recordUpdates>
    <name>update_records</name>
    <label>update records</label>
    <locationX>1371</locationX>
    <locationY>4694</locationY>
    <connector>
      <targetReference>ConfirmationScreen</targetReference>
    </connector>
    <faultConnector>
      <targetReference>faultmessage</targetReference>
    </faultConnector>
    <filterLogic>and</filterLogic>
    <filters>
      <field>Id</field>
      <operator>EqualTo</operator>
      <value>
        <elementReference>ServiceAppointmentId</elementReference>
      </value>
    </filters>
    <inputAssignments>
      <field>AppointmentSource__c</field>
      <value>
        <stringValue>Web</stringValue>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>Booking_Channel__c</field>
      <value>
        <stringValue>Patient portal</stringValue>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>Email</field>
      <value>
        <elementReference>Emailfrominitialform.value</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>New_Patient__c</field>
      <value>
        <stringValue>Yes</stringValue>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>Service_Resource__c</field>
      <value>
        <elementReference>ServiceResourceId</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>Status</field>
      <value>
        <stringValue>Reserved</stringValue>
      </value>
    </inputAssignments>
    <object>ServiceAppointment</object>
  </recordUpdates>
  <recordUpdates>
    <name>update_service_appointment</name>
    <label>update service appointment</label>
    <locationX>1371</locationX>
    <locationY>4933</locationY>
    <connector>
      <targetReference>registerUser</targetReference>
    </connector>
    <faultConnector>
      <targetReference>faultmessage</targetReference>
    </faultConnector>
    <filterLogic>and</filterLogic>
    <filters>
      <field>Id</field>
      <operator>EqualTo</operator>
      <value>
        <elementReference>ServiceAppointmentId</elementReference>
      </value>
    </filters>
    <inputAssignments>
      <field>IsAnonymousBooking</field>
      <value>
        <booleanValue>true</booleanValue>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>ServiceTerritoryId</field>
      <value>
        <elementReference>ServiceAppointment.ServiceTerritoryId</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>Status</field>
      <value>
        <stringValue>Booked</stringValue>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>WorkTypeId</field>
      <value>
        <elementReference>Get_WorkType_Id.Id</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>Work_Type_Group__c</field>
      <value>
        <elementReference>Get_WorkTypeGroupId.Id</elementReference>
      </value>
    </inputAssignments>
    <object>ServiceAppointment</object>
  </recordUpdates>
  <recordUpdates>
    <name>update_service_appointment_0</name>
    <label>update service appointment</label>
    <locationX>1371</locationX>
    <locationY>5654</locationY>
    <connector>
      <targetReference>Confirmation_screen_last</targetReference>
    </connector>
    <faultConnector>
      <targetReference>faultmessage</targetReference>
    </faultConnector>
    <filterLogic>and</filterLogic>
    <filters>
      <field>Id</field>
      <operator>EqualTo</operator>
      <value>
        <elementReference>ServiceAppointmentId</elementReference>
      </value>
    </filters>
    <inputAssignments>
      <field>Account__c</field>
      <value>
        <elementReference>get_account.Id</elementReference>
      </value>
    </inputAssignments>
    <object>ServiceAppointment</object>
  </recordUpdates>
  <recordUpdates>
    <name>Update_Status</name>
    <label>Update Status</label>
    <locationX>1371</locationX>
    <locationY>5174</locationY>
    <connector>
      <targetReference>update_record_to_converted</targetReference>
    </connector>
    <faultConnector>
      <targetReference>faultmessage</targetReference>
    </faultConnector>
    <filterLogic>and</filterLogic>
    <filters>
      <field>Id</field>
      <operator>EqualTo</operator>
      <value>
        <elementReference>leadIdintext</elementReference>
      </value>
    </filters>
    <inputAssignments>
      <field>Status</field>
      <value>
        <stringValue>Password Set</stringValue>
      </value>
    </inputAssignments>
    <object>Lead</object>
  </recordUpdates>
  <recordUpdates>
    <name>update_status_of_lead_review</name>
    <label>update status of lead- review</label>
    <locationX>1328</locationX>
    <locationY>4098</locationY>
    <connector>
      <targetReference>Save_Appointment</targetReference>
    </connector>
    <filterLogic>and</filterLogic>
    <filters>
      <field>Id</field>
      <operator>EqualTo</operator>
      <value>
        <elementReference>leadIdintext</elementReference>
      </value>
    </filters>
    <inputAssignments>
      <field>Status</field>
      <value>
        <stringValue>Appointment Review</stringValue>
      </value>
    </inputAssignments>
    <object>Lead</object>
  </recordUpdates>
  <runInMode>SystemModeWithoutSharing</runInMode>
  <screens>
    <name>Candidate_Composite_Screen</name>
    <label>Resource Time Slot Screen</label>
    <locationX>1371</locationX>
    <locationY>3494</locationY>
    <allowBack>true</allowBack>
    <allowFinish>true</allowFinish>
    <allowPause>true</allowPause>
    <connector>
      <targetReference>update_lead_status_to_time_slot_selected</targetReference>
    </connector>
    <fields>
      <name>Candidate_Composite_Screen_Section1</name>
      <fieldType>RegionContainer</fieldType>
      <fields>
        <name>Candidate_Composite_Screen_Section1_Column1</name>
        <fieldType>Region</fieldType>
        <fields>
          <name>Progress5</name>
          <extensionName>dflowp:DynamicFlowProgress</extensionName>
          <fieldType>ComponentInstance</fieldType>
          <inputParameters>
            <name>stepList</name>
            <value>
              <stringValue>Appointment Type,Location,Day &amp; Time,Review,Reserved,Booked</stringValue>
            </value>
          </inputParameters>
          <inputParameters>
            <name>currentStep</name>
            <value>
              <stringValue>Day &amp; Time</stringValue>
            </value>
          </inputParameters>
          <inputParameters>
            <name>indicatorType</name>
            <value>
              <stringValue>Ring</stringValue>
            </value>
          </inputParameters>
          <inputParameters>
            <name>currentStepPercentage</name>
            <value>
              <numberValue>50.0</numberValue>
            </value>
          </inputParameters>
          <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
          <isRequired>true</isRequired>
          <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
          <name>Progress6</name>
          <extensionName>dflowp:DynamicFlowProgress</extensionName>
          <fieldType>ComponentInstance</fieldType>
          <inputParameters>
            <name>stepList</name>
            <value>
              <stringValue>Appointment Type,Location,Day &amp; Time,Review,Reserved,Booked</stringValue>
            </value>
          </inputParameters>
          <inputParameters>
            <name>currentStep</name>
            <value>
              <stringValue>Day &amp; Time</stringValue>
            </value>
          </inputParameters>
          <inputParameters>
            <name>currentStepPercentage</name>
            <value>
              <numberValue>50.0</numberValue>
            </value>
          </inputParameters>
          <inputParameters>
            <name>indicatorType</name>
            <value>
              <stringValue>Vertical</stringValue>
            </value>
          </inputParameters>
          <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
          <isRequired>true</isRequired>
          <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
          <name>display3</name>
          <fieldText>&lt;p style="text-align: center;"&gt;&lt;span style="color: rgb(88, 88, 88); font-family: &amp;quot;Salesforce Sans&amp;quot;, -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);"&gt;~2 mins left&lt;/span&gt;&lt;/p&gt;</fieldText>
          <fieldType>DisplayText</fieldType>
        </fields>
        <inputParameters>
          <name>width</name>
          <value>
            <stringValue>1</stringValue>
          </value>
        </inputParameters>
        <isRequired>false</isRequired>
      </fields>
      <fields>
        <name>Candidate_Composite_Screen_Section1_Column2</name>
        <fieldType>Region</fieldType>
        <inputParameters>
          <name>width</name>
          <value>
            <stringValue>1</stringValue>
          </value>
        </inputParameters>
        <isRequired>false</isRequired>
      </fields>
      <fields>
        <name>Candidate_Composite_Screen_Section1_Column3</name>
        <fieldType>Region</fieldType>
        <fields>
          <name>flowResourceTimeSlot</name>
          <extensionName>runtime_appointmentbooking:resourceSlot</extensionName>
          <fieldType>ComponentInstance</fieldType>
          <inputParameters>
            <name>parentRecordId</name>
            <value>
              <elementReference>ServiceAppointment.ParentRecordId</elementReference>
            </value>
          </inputParameters>
          <inputParameters>
            <name>isInbound</name>
            <value>
              <elementReference>IsInbound</elementReference>
            </value>
          </inputParameters>
          <inputParameters>
            <name>serviceResourceId</name>
            <value>
              <elementReference>ServiceResourceId</elementReference>
            </value>
          </inputParameters>
          <inputParameters>
            <name>serviceTerritoryId</name>
            <value>
              <elementReference>ServiceAppointment.ServiceTerritoryId</elementReference>
            </value>
          </inputParameters>
          <inputParameters>
            <name>currStartDate</name>
            <value>
              <elementReference>StartDate</elementReference>
            </value>
          </inputParameters>
          <inputParameters>
            <name>workTypeGroupId</name>
            <value>
              <elementReference>WorkTypeGroupId</elementReference>
            </value>
          </inputParameters>
          <inputParameters>
            <name>selectedEndTime</name>
            <value>
              <elementReference>ServiceAppointment.SchedEndTime</elementReference>
            </value>
          </inputParameters>
          <inputParameters>
            <name>selectedStartTime</name>
            <value>
              <elementReference>ServiceAppointment.SchedStartTime</elementReference>
            </value>
          </inputParameters>
          <inputParameters>
            <name>anonymousBooking</name>
            <value>
              <booleanValue>false</booleanValue>
            </value>
          </inputParameters>
          <inputParameters>
            <name>resourceBooking</name>
            <value>
              <elementReference>allowResourceBooking</elementReference>
            </value>
          </inputParameters>
          <inputParameters>
            <name>isAnonymousBooking</name>
            <value>
              <elementReference>ServiceAppointment.IsAnonymousBooking</elementReference>
            </value>
          </inputParameters>
          <inputParameters>
            <name>schedulingPolicyName</name>
            <value>
              <elementReference>SchedulingPolicyName</elementReference>
            </value>
          </inputParameters>
          <inputParameters>
            <name>preselectedTimezone</name>
            <value>
              <elementReference>DefaultTimeZone</elementReference>
            </value>
          </inputParameters>
          <inputParameters>
            <name>filterByResources</name>
            <value>
              <elementReference>FilterByResourceIds</elementReference>
            </value>
          </inputParameters>
          <inputParameters>
            <name>showTimeZonePicklist</name>
            <value>
              <elementReference>showTimeZonePicklist</elementReference>
            </value>
          </inputParameters>
          <inputParameters>
            <name>selectedTimezone</name>
            <value>
              <elementReference>selectedTimezone</elementReference>
            </value>
          </inputParameters>
          <inputParameters>
            <name>correlationId</name>
            <value>
              <elementReference>correlationId</elementReference>
            </value>
          </inputParameters>
          <inputParameters>
            <name>areResourcesSortedByAvailability</name>
            <value>
              <booleanValue>true</booleanValue>
            </value>
          </inputParameters>
          <inputParameters>
            <name>resourceLimitApptDistribution</name>
            <value>
              <elementReference>defailtnumberofrecords</elementReference>
            </value>
          </inputParameters>
          <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
          <isRequired>true</isRequired>
          <outputParameters>
            <assignToReference>ServiceAppointment.SchedEndTime</assignToReference>
            <name>selectedEndTime</name>
          </outputParameters>
          <outputParameters>
            <assignToReference>ServiceAppointment.SchedStartTime</assignToReference>
            <name>selectedStartTime</name>
          </outputParameters>
          <outputParameters>
            <assignToReference>StartDate</assignToReference>
            <name>currStartDate</name>
          </outputParameters>
          <outputParameters>
            <assignToReference>ServiceResourceId</assignToReference>
            <name>serviceResourceId</name>
          </outputParameters>
          <outputParameters>
            <assignToReference>WorkTypeGroupId</assignToReference>
            <name>workTypeGroupId</name>
          </outputParameters>
          <outputParameters>
            <assignToReference>ValidationErrors</assignToReference>
            <name>validationErrors</name>
          </outputParameters>
          <outputParameters>
            <assignToReference>ServiceAppointment.IsAnonymousBooking</assignToReference>
            <name>isAnonymousBooking</name>
          </outputParameters>
          <outputParameters>
            <assignToReference>selectedTimezone</assignToReference>
            <name>selectedTimezone</name>
          </outputParameters>
        </fields>
        <inputParameters>
          <name>width</name>
          <value>
            <stringValue>10</stringValue>
          </value>
        </inputParameters>
        <isRequired>false</isRequired>
      </fields>
      <isRequired>false</isRequired>
      <regionContainerType>SectionWithoutHeader</regionContainerType>
    </fields>
    <showFooter>true</showFooter>
    <showHeader>false</showHeader>
  </screens>
  <screens>
    <name>Confirmation_screen_last</name>
    <label>Confirmation screen last</label>
    <locationX>1371</locationX>
    <locationY>5772</locationY>
    <allowBack>false</allowBack>
    <allowFinish>true</allowFinish>
    <allowPause>false</allowPause>
    <connector>
      <targetReference>Finish</targetReference>
    </connector>
    <fields>
      <name>Confirmation_screen_last_Section1</name>
      <fieldType>RegionContainer</fieldType>
      <fields>
        <name>Confirmation_screen_last_Section1_Column1</name>
        <fieldType>Region</fieldType>
        <fields>
          <name>flowprogress15</name>
          <extensionName>dflowp:DynamicFlowProgress</extensionName>
          <fieldType>ComponentInstance</fieldType>
          <inputParameters>
            <name>indicatorType</name>
            <value>
              <stringValue>Ring</stringValue>
            </value>
          </inputParameters>
          <inputParameters>
            <name>stepList</name>
            <value>
              <stringValue>Appointment Type,Location,Day &amp; Time,Review,Reserved,Booked</stringValue>
            </value>
          </inputParameters>
          <inputParameters>
            <name>currentStep</name>
            <value>
              <stringValue>Booked</stringValue>
            </value>
          </inputParameters>
          <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
          <isRequired>true</isRequired>
          <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
          <name>flowprogress16</name>
          <extensionName>dflowp:DynamicFlowProgress</extensionName>
          <fieldType>ComponentInstance</fieldType>
          <inputParameters>
            <name>indicatorType</name>
            <value>
              <stringValue>Vertical</stringValue>
            </value>
          </inputParameters>
          <inputParameters>
            <name>stepList</name>
            <value>
              <stringValue>Appointment Type,Location,Day &amp; Time,Review,Reserved,Booked</stringValue>
            </value>
          </inputParameters>
          <inputParameters>
            <name>currentStep</name>
            <value>
              <stringValue>Booked</stringValue>
            </value>
          </inputParameters>
          <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
          <isRequired>true</isRequired>
          <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <inputParameters>
          <name>width</name>
          <value>
            <stringValue>1</stringValue>
          </value>
        </inputParameters>
        <isRequired>false</isRequired>
      </fields>
      <fields>
        <name>Confirmation_screen_last_Section1_Column2</name>
        <fieldType>Region</fieldType>
        <inputParameters>
          <name>width</name>
          <value>
            <stringValue>1</stringValue>
          </value>
        </inputParameters>
        <isRequired>false</isRequired>
      </fields>
      <fields>
        <name>Confirmation_screen_last_Section1_Column3</name>
        <fieldType>Region</fieldType>
        <fields>
          <name>Confirmationmessage</name>
          <fieldText>&lt;p&gt;&lt;strong style="font-size: 16px;"&gt;Confirmation Message: &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your appointment has been confirmed, please login in the patient portal to complete your medical documentations before your upcoming appointment. Please click on next to be redirected to that page. &lt;/p&gt;</fieldText>
          <fieldType>DisplayText</fieldType>
        </fields>
        <inputParameters>
          <name>width</name>
          <value>
            <stringValue>10</stringValue>
          </value>
        </inputParameters>
        <isRequired>false</isRequired>
      </fields>
      <isRequired>false</isRequired>
      <regionContainerType>SectionWithoutHeader</regionContainerType>
    </fields>
    <showFooter>true</showFooter>
    <showHeader>false</showHeader>
  </screens>
  <screens>
    <name>ConfirmationScreen</name>
    <label>Confirmation Screen</label>
    <locationX>1370</locationX>
    <locationY>4812</locationY>
    <allowBack>false</allowBack>
    <allowFinish>true</allowFinish>
    <allowPause>false</allowPause>
    <connector>
      <targetReference>update_service_appointment</targetReference>
    </connector>
    <fields>
      <name>ConfirmationScreen_Section1</name>
      <fieldType>RegionContainer</fieldType>
      <fields>
        <name>ConfirmationScreen_Section1_Column1</name>
        <fieldType>Region</fieldType>
        <fields>
          <name>Progress11</name>
          <extensionName>dflowp:DynamicFlowProgress</extensionName>
          <fieldType>ComponentInstance</fieldType>
          <inputParameters>
            <name>stepList</name>
            <value>
              <stringValue>Appointment Type,Location,Day &amp; Time,Review,Reserved,Booked</stringValue>
            </value>
          </inputParameters>
          <inputParameters>
            <name>currentStep</name>
            <value>
              <stringValue>Reserved</stringValue>
            </value>
          </inputParameters>
          <inputParameters>
            <name>indicatorType</name>
            <value>
              <stringValue>Ring</stringValue>
            </value>
          </inputParameters>
          <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
          <isRequired>true</isRequired>
          <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
          <name>Progress12</name>
          <extensionName>dflowp:DynamicFlowProgress</extensionName>
          <fieldType>ComponentInstance</fieldType>
          <inputParameters>
            <name>indicatorType</name>
            <value>
              <stringValue>Vertical</stringValue>
            </value>
          </inputParameters>
          <inputParameters>
            <name>stepList</name>
            <value>
              <stringValue>Appointment Type,Location,Day &amp; Time,Review,Reserved,Booked</stringValue>
            </value>
          </inputParameters>
          <inputParameters>
            <name>currentStep</name>
            <value>
              <stringValue>Reserved</stringValue>
            </value>
          </inputParameters>
          <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
          <isRequired>true</isRequired>
          <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <inputParameters>
          <name>width</name>
          <value>
            <stringValue>1</stringValue>
          </value>
        </inputParameters>
        <isRequired>false</isRequired>
      </fields>
      <fields>
        <name>ConfirmationScreen_Section1_Column2</name>
        <fieldType>Region</fieldType>
        <inputParameters>
          <name>width</name>
          <value>
            <stringValue>1</stringValue>
          </value>
        </inputParameters>
        <isRequired>false</isRequired>
      </fields>
      <fields>
        <name>ConfirmationScreen_Section1_Column3</name>
        <fieldType>Region</fieldType>
        <fields>
          <name>Display</name>
          <fieldText>&lt;p&gt;&lt;span style="background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);"&gt;Your Appointment has been &lt;/span&gt;&lt;strong style="background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);"&gt;reserved&lt;/strong&gt;&lt;span style="background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);"&gt; but &lt;/span&gt;&lt;strong style="background-color: rgb(255, 255, 255); color: rgb(255, 2, 2);"&gt;not booked&lt;/strong&gt;&lt;span style="background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);"&gt;. Please complete setting up your account in portal to successfully book the appointment. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style="background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);"&gt;Please note that you have &lt;/span&gt;&lt;strong style="background-color: rgb(255, 255, 255); color: rgb(255, 2, 2);"&gt;15 minutes &lt;/strong&gt;&lt;span style="background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);"&gt;from now to complete your booking or else you will loose the spot. &lt;/span&gt;&lt;/p&gt;</fieldText>
          <fieldType>DisplayText</fieldType>
        </fields>
        <inputParameters>
          <name>width</name>
          <value>
            <stringValue>10</stringValue>
          </value>
        </inputParameters>
        <isRequired>false</isRequired>
      </fields>
      <isRequired>false</isRequired>
      <regionContainerType>SectionWithoutHeader</regionContainerType>
    </fields>
    <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
    <showFooter>true</showFooter>
    <showHeader>false</showHeader>
  </screens>
  <screens>
    <name>Fault_Message</name>
    <label>Fault Message</label>
    <locationX>50</locationX>
    <locationY>3736</locationY>
    <allowBack>true</allowBack>
    <allowFinish>true</allowFinish>
    <allowPause>true</allowPause>
    <fields>
      <name>errorMsg</name>
      <fieldText>&lt;p style="text-align: center;"&gt;&lt;span style="background-color: rgb(255, 255, 255); color: rgb(253, 4, 4);"&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
      <fieldType>DisplayText</fieldType>
    </fields>
    <showFooter>true</showFooter>
    <showHeader>true</showHeader>
  </screens>
  <screens>
    <name>Fault_Message_0</name>
    <label>Fault Message</label>
    <locationX>2190</locationX>
    <locationY>1889</locationY>
    <allowBack>true</allowBack>
    <allowFinish>true</allowFinish>
    <allowPause>true</allowPause>
    <fields>
      <name>errorMsg_0</name>
      <fieldText>&lt;p style="text-align: center;"&gt;&lt;span style="background-color: rgb(255, 255, 255); color: rgb(253, 4, 4);"&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
      <fieldType>DisplayText</fieldType>
    </fields>
    <showFooter>true</showFooter>
    <showHeader>true</showHeader>
  </screens>
  <screens>
    <name>Fault_Message_0_0</name>
    <label>Fault Message</label>
    <locationX>1851</locationX>
    <locationY>859</locationY>
    <allowBack>true</allowBack>
    <allowFinish>true</allowFinish>
    <allowPause>true</allowPause>
    <fields>
      <name>errorMsg_0_0</name>
      <fieldText>&lt;p style="text-align: center;"&gt;Please contact Red Mountain Weight Loss helpline for more information.&lt;/p&gt;</fieldText>
      <fieldType>DisplayText</fieldType>
    </fields>
    <showFooter>true</showFooter>
    <showHeader>true</showHeader>
  </screens>
  <screens>
    <name>Fault_Message_0_0_0</name>
    <label>Fault Message</label>
    <locationX>2159</locationX>
    <locationY>4176</locationY>
    <allowBack>true</allowBack>
    <allowFinish>true</allowFinish>
    <allowPause>true</allowPause>
    <fields>
      <name>errorMsg_0_0_0</name>
      <fieldText>&lt;p style="text-align: center;"&gt;Please contact Red Mountain Weight Loss helpline for more information.&lt;/p&gt;</fieldText>
      <fieldType>DisplayText</fieldType>
    </fields>
    <showFooter>true</showFooter>
    <showHeader>true</showHeader>
  </screens>
  <screens>
    <name>faultmessage</name>
    <label>faultmessage</label>
    <locationX>1691</locationX>
    <locationY>5024</locationY>
    <allowBack>true</allowBack>
    <allowFinish>true</allowFinish>
    <allowPause>true</allowPause>
    <fields>
      <name>fault</name>
      <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
      <fieldType>DisplayText</fieldType>
    </fields>
    <showFooter>true</showFooter>
    <showHeader>true</showHeader>
  </screens>
  <screens>
    <name>Finish</name>
    <label>Finish</label>
    <locationX>1371</locationX>
    <locationY>5894</locationY>
    <allowBack>true</allowBack>
    <allowFinish>false</allowFinish>
    <allowPause>false</allowPause>
    <fields>
      <name>RedirecttoHome</name>
      <extensionName>HealthCloudGA:HcFlowRedirectLocalAction</extensionName>
      <fieldType>ComponentInstance</fieldType>
      <inputParameters>
        <name>url</name>
        <value>
          <stringValue>https://redmountainweightloss3--demosbox.sandbox.my.site.com/patients/s/npp</stringValue>
        </value>
      </inputParameters>
      <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
      <isRequired>true</isRequired>
      <storeOutputAutomatically>true</storeOutputAutomatically>
    </fields>
    <fields>
      <name>RedirectMessage</name>
      <fieldText>&lt;p&gt;Redirecting to Home Page!&lt;/p&gt;</fieldText>
      <fieldType>DisplayText</fieldType>
    </fields>
    <showFooter>false</showFooter>
    <showHeader>false</showHeader>
  </screens>
  <screens>
    <name>LocationScreen</name>
    <label>Location Screen</label>
    <locationX>711</locationX>
    <locationY>3181</locationY>
    <allowBack>true</allowBack>
    <allowFinish>true</allowFinish>
    <allowPause>false</allowPause>
    <connector>
      <targetReference>Candidate_Composite_Screen</targetReference>
    </connector>
    <fields>
      <name>LocationScreen_Section1</name>
      <fieldType>RegionContainer</fieldType>
      <fields>
        <name>LocationScreen_Section1_Column1</name>
        <fieldType>Region</fieldType>
        <fields>
          <name>Progress3</name>
          <extensionName>dflowp:DynamicFlowProgress</extensionName>
          <fieldType>ComponentInstance</fieldType>
          <inputParameters>
            <name>stepList</name>
            <value>
              <stringValue>Appointment Type,Location,Day &amp; Time,Review,Reserved,Booked</stringValue>
            </value>
          </inputParameters>
          <inputParameters>
            <name>currentStep</name>
            <value>
              <stringValue>Location</stringValue>
            </value>
          </inputParameters>
          <inputParameters>
            <name>indicatorType</name>
            <value>
              <stringValue>Ring</stringValue>
            </value>
          </inputParameters>
          <inputParameters>
            <name>currentStepPercentage</name>
            <value>
              <numberValue>25.0</numberValue>
            </value>
          </inputParameters>
          <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
          <isRequired>true</isRequired>
          <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
          <name>Progress4</name>
          <extensionName>dflowp:DynamicFlowProgress</extensionName>
          <fieldType>ComponentInstance</fieldType>
          <inputParameters>
            <name>stepList</name>
            <value>
              <stringValue>Appointment Type,Location,Day &amp; Time,Review,Reserved,Booked</stringValue>
            </value>
          </inputParameters>
          <inputParameters>
            <name>currentStep</name>
            <value>
              <stringValue>Location</stringValue>
            </value>
          </inputParameters>
          <inputParameters>
            <name>currentStepPercentage</name>
            <value>
              <numberValue>25.0</numberValue>
            </value>
          </inputParameters>
          <inputParameters>
            <name>indicatorType</name>
            <value>
              <stringValue>Vertical</stringValue>
            </value>
          </inputParameters>
          <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
          <isRequired>true</isRequired>
          <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
          <name>display2</name>
          <fieldText>&lt;p style="text-align: center;"&gt;&lt;span style="color: rgb(88, 88, 88); font-family: &amp;quot;Salesforce Sans&amp;quot;, -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);"&gt;~3 mins left&lt;/span&gt;&lt;/p&gt;</fieldText>
          <fieldType>DisplayText</fieldType>
        </fields>
        <inputParameters>
          <name>width</name>
          <value>
            <stringValue>1</stringValue>
          </value>
        </inputParameters>
        <isRequired>false</isRequired>
      </fields>
      <fields>
        <name>LocationScreen_Section1_Column2</name>
        <fieldType>Region</fieldType>
        <inputParameters>
          <name>width</name>
          <value>
            <stringValue>1</stringValue>
          </value>
        </inputParameters>
        <isRequired>false</isRequired>
      </fields>
      <fields>
        <name>LocationScreen_Section1_Column3</name>
        <fieldType>Region</fieldType>
        <fields>
          <name>flowLocation</name>
          <extensionName>runtime_appointmentbooking:flowLocation</extensionName>
          <fieldType>ComponentInstance</fieldType>
          <inputParameters>
            <name>workTypeGroupId</name>
            <value>
              <elementReference>WorkTypeGroupId</elementReference>
            </value>
          </inputParameters>
          <inputParameters>
            <name>serviceTerritoryId</name>
            <value>
              <elementReference>ServiceAppointment.ServiceTerritoryId</elementReference>
            </value>
          </inputParameters>
          <inputParameters>
            <name>serviceResourceId</name>
            <value>
              <elementReference>ServiceResourceId</elementReference>
            </value>
          </inputParameters>
          <inputParameters>
            <name>distance</name>
            <value>
              <elementReference>LocationDistance</elementReference>
            </value>
          </inputParameters>
          <inputParameters>
            <name>lat</name>
            <value>
              <elementReference>apexLatitude</elementReference>
            </value>
          </inputParameters>
          <inputParameters>
            <name>long</name>
            <value>
              <elementReference>apexLongitude</elementReference>
            </value>
          </inputParameters>
          <inputParameters>
            <name>distanceUnit</name>
            <value>
              <elementReference>distanceUnit</elementReference>
            </value>
          </inputParameters>
          <inputParameters>
            <name>filterByResources</name>
            <value>
              <elementReference>FilterByResourceIds</elementReference>
            </value>
          </inputParameters>
          <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
          <isRequired>true</isRequired>
          <outputParameters>
            <assignToReference>ServiceAppointment.ServiceTerritoryId</assignToReference>
            <name>serviceTerritoryId</name>
          </outputParameters>
          <outputParameters>
            <assignToReference>ServiceAppointment.City</assignToReference>
            <name>city</name>
          </outputParameters>
          <outputParameters>
            <assignToReference>ServiceAppointment.Country</assignToReference>
            <name>country</name>
          </outputParameters>
          <outputParameters>
            <assignToReference>ServiceAppointment.PostalCode</assignToReference>
            <name>postalCode</name>
          </outputParameters>
          <outputParameters>
            <assignToReference>ServiceAppointment.State</assignToReference>
            <name>state</name>
          </outputParameters>
          <outputParameters>
            <assignToReference>ServiceAppointment.Street</assignToReference>
            <name>street</name>
          </outputParameters>
          <outputParameters>
            <assignToReference>SelectedLocation</assignToReference>
            <name>enteredLocation</name>
          </outputParameters>
          <outputParameters>
            <assignToReference>LocationDistance</assignToReference>
            <name>distance</name>
          </outputParameters>
          <outputParameters>
            <assignToReference>LocationLatitude</assignToReference>
            <name>lat</name>
          </outputParameters>
          <outputParameters>
            <assignToReference>LocationLongitude</assignToReference>
            <name>long</name>
          </outputParameters>
          <outputParameters>
            <assignToReference>ValidationErrors</assignToReference>
            <name>validationErrors</name>
          </outputParameters>
        </fields>
        <inputParameters>
          <name>width</name>
          <value>
            <stringValue>10</stringValue>
          </value>
        </inputParameters>
        <isRequired>false</isRequired>
      </fields>
      <isRequired>false</isRequired>
      <regionContainerType>SectionWithoutHeader</regionContainerType>
    </fields>
    <showFooter>true</showFooter>
    <showHeader>false</showHeader>
  </screens>
  <screens>
    <name>redirect</name>
    <label>redirect</label>
    <locationX>1239</locationX>
    <locationY>1406</locationY>
    <allowBack>true</allowBack>
    <allowFinish>true</allowFinish>
    <allowPause>true</allowPause>
    <fields>
      <name>redirecttopatientportal</name>
      <extensionName>HealthCloudGA:HcFlowRedirectLocalAction</extensionName>
      <fieldType>ComponentInstance</fieldType>
      <inputParameters>
        <name>url</name>
        <value>
          <stringValue> https://demosbox-healthcloudtrialmaster-15a4d-17ca4c6c8ca.cs251.force.com/patients/s/book-an-appointment-with-us</stringValue>
        </value>
      </inputParameters>
      <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
      <isRequired>true</isRequired>
      <storeOutputAutomatically>true</storeOutputAutomatically>
    </fields>
    <showFooter>false</showFooter>
    <showHeader>false</showHeader>
  </screens>
  <screens>
    <name>Register_User_Redirect_Page</name>
    <label>Register User Redirection Page</label>
    <locationX>1503</locationX>
    <locationY>1406</locationY>
    <allowBack>true</allowBack>
    <allowFinish>false</allowFinish>
    <allowPause>true</allowPause>
    <fields>
      <name>redirectToPage</name>
      <fieldText>&lt;p style="text-align: center;"&gt;&lt;span style="background-color: rgb(249, 248, 248); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, &amp;quot;Helvetica Neue&amp;quot;, Helvetica, Arial, sans-serif; color: rgb(30, 31, 33);"&gt;Existing patients need to enter their details in the other form.  Please click the link below!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style="text-align: center;"&gt;&lt;a href="https://redmountainweightloss3--demosbox.sandbox.my.site.com/patients/s/existing-patient-portal-account-creation" rel="noopener noreferrer" target="_blank"&gt;&lt;strong&gt;Goto Page!&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
      <fieldType>DisplayText</fieldType>
    </fields>
    <showFooter>true</showFooter>
    <showHeader>true</showHeader>
  </screens>
  <screens>
    <name>Request_an_Appointment</name>
    <label>Request an Appointment</label>
    <locationX>1371</locationX>
    <locationY>205</locationY>
    <allowBack>false</allowBack>
    <allowFinish>true</allowFinish>
    <allowPause>false</allowPause>
    <connector>
      <targetReference>getcontactrecords</targetReference>
    </connector>
    <fields>
      <name>Displayquestions</name>
      <fieldText>&lt;p&gt;&lt;strong style="font-size: 14px;"&gt;Please enter your demographic details for appointment booking. &lt;/strong&gt;&lt;/p&gt;</fieldText>
      <fieldType>DisplayText</fieldType>
    </fields>
    <fields>
      <name>First_Name</name>
      <dataType>String</dataType>
      <fieldText>First Name</fieldText>
      <fieldType>InputField</fieldType>
      <isRequired>true</isRequired>
    </fields>
    <fields>
      <name>Last_Name</name>
      <dataType>String</dataType>
      <fieldText>Last Name</fieldText>
      <fieldType>InputField</fieldType>
      <isRequired>true</isRequired>
    </fields>
    <fields>
      <name>Emailfrominitialform</name>
      <extensionName>flowruntime:email</extensionName>
      <fieldType>ComponentInstance</fieldType>
      <inputParameters>
        <name>required</name>
        <value>
          <booleanValue>true</booleanValue>
        </value>
      </inputParameters>
      <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
      <isRequired>true</isRequired>
      <storeOutputAutomatically>true</storeOutputAutomatically>
    </fields>
    <fields>
      <name>Zipcode</name>
      <dataType>String</dataType>
      <fieldText>Zipcode</fieldText>
      <fieldType>InputField</fieldType>
      <isRequired>true</isRequired>
      <validationRule>
        <errorMessage>&lt;p&gt;Please enter a five digit zip code&lt;/p&gt;</errorMessage>
        <formulaExpression>LEN({!Zipcode})=5</formulaExpression>
      </validationRule>
    </fields>
    <fields>
      <name>Phone</name>
      <extensionName>flowruntime:phone</extensionName>
      <fieldType>ComponentInstance</fieldType>
      <inputParameters>
        <name>required</name>
        <value>
          <booleanValue>true</booleanValue>
        </value>
      </inputParameters>
      <inputParameters>
        <name>pattern</name>
        <value>
          <stringValue>^(?:\d{10}|\(\d{3}\)\s*\d{3}(?:-|\s*)\d{4}|\d{3}(?:-|\s*)\d{3}(?:-|\s*)\d{4})$</stringValue>
        </value>
      </inputParameters>
      <inputParameters>
        <name>placeholder</name>
        <value>
          <stringValue>555-555-5555</stringValue>
        </value>
      </inputParameters>
      <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
      <isRequired>true</isRequired>
      <storeOutputAutomatically>true</storeOutputAutomatically>
    </fields>
    <fields>
      <name>Marketing_Opt_In</name>
      <dataType>Boolean</dataType>
      <defaultValue>
        <booleanValue>true</booleanValue>
      </defaultValue>
      <fieldText>Marketing Opt In</fieldText>
      <fieldType>InputField</fieldType>
      <helpText>&lt;p&gt;Yes! Email me helpful tips &amp;amp; promotions for my journey to a healthy life!&lt;/p&gt;</helpText>
      <isRequired>true</isRequired>
    </fields>
    <fields>
      <name>HowDidYouHearAboutUsNew</name>
      <choiceReferences>Howdidyouhearaboutus</choiceReferences>
      <dataType>String</dataType>
      <fieldText>How did you hear about us ?</fieldText>
      <fieldType>DropdownBox</fieldType>
      <isRequired>true</isRequired>
    </fields>
    <showFooter>true</showFooter>
    <showHeader>false</showHeader>
  </screens>
  <screens>
    <name>ReviewScreen</name>
    <label>Review Screen</label>
    <locationX>1371</locationX>
    <locationY>3971</locationY>
    <allowBack>true</allowBack>
    <allowFinish>true</allowFinish>
    <allowPause>false</allowPause>
    <connector>
      <targetReference>update_status_of_lead_review</targetReference>
    </connector>
    <fields>
      <name>ReviewScreen_Section1</name>
      <fieldType>RegionContainer</fieldType>
      <fields>
        <name>ReviewScreen_Section1_Column1</name>
        <fieldType>Region</fieldType>
        <fields>
          <name>Progress9</name>
          <extensionName>dflowp:DynamicFlowProgress</extensionName>
          <fieldType>ComponentInstance</fieldType>
          <inputParameters>
            <name>stepList</name>
            <value>
              <stringValue>Appointment Type,Location,Day &amp; Time,Review,Reserved,Booked</stringValue>
            </value>
          </inputParameters>
          <inputParameters>
            <name>currentStep</name>
            <value>
              <stringValue>Review</stringValue>
            </value>
          </inputParameters>
          <inputParameters>
            <name>indicatorType</name>
            <value>
              <stringValue>Ring</stringValue>
            </value>
          </inputParameters>
          <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
          <isRequired>true</isRequired>
          <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
          <name>Progress10</name>
          <extensionName>dflowp:DynamicFlowProgress</extensionName>
          <fieldType>ComponentInstance</fieldType>
          <inputParameters>
            <name>stepList</name>
            <value>
              <stringValue>Appointment Type,Location,Day &amp; Time,Review,Reserved,Booked</stringValue>
            </value>
          </inputParameters>
          <inputParameters>
            <name>currentStep</name>
            <value>
              <stringValue>Review</stringValue>
            </value>
          </inputParameters>
          <inputParameters>
            <name>indicatorType</name>
            <value>
              <stringValue>Vertical</stringValue>
            </value>
          </inputParameters>
          <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
          <isRequired>true</isRequired>
          <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
          <name>display5</name>
          <fieldText>&lt;p style="text-align: center;"&gt;&lt;span style="color: rgb(88, 88, 88); font-family: &amp;quot;Salesforce Sans&amp;quot;, -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);"&gt;~1 mins left&lt;/span&gt;&lt;/p&gt;</fieldText>
          <fieldType>DisplayText</fieldType>
        </fields>
        <inputParameters>
          <name>width</name>
          <value>
            <stringValue>1</stringValue>
          </value>
        </inputParameters>
        <isRequired>false</isRequired>
      </fields>
      <fields>
        <name>ReviewScreen_Section1_Column2</name>
        <fieldType>Region</fieldType>
        <inputParameters>
          <name>width</name>
          <value>
            <stringValue>1</stringValue>
          </value>
        </inputParameters>
        <isRequired>false</isRequired>
      </fields>
      <fields>
        <name>ReviewScreen_Section1_Column3</name>
        <fieldType>Region</fieldType>
        <fields>
          <name>Confirmationinfo</name>
          <fieldText>&lt;p&gt;&lt;strong style="font-size: 20px;"&gt;A&lt;/strong&gt;&lt;strong style="font-size: 14px;"&gt;ppointment Details Review&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style="color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);"&gt;{!First_Name}&lt;/strong&gt;&lt;span style="color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);"&gt;, please take a moment to review the appointment details below for accuracy and schedule your service by clicking the&amp;nbsp;&lt;/span&gt;&lt;strong style="color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);"&gt;BOOK IT&lt;/strong&gt;&lt;span style="color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);"&gt;&amp;nbsp;button. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style="color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);"&gt;Your &lt;/span&gt;&lt;strong style="color: rgb(255, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);"&gt;{!getrecordofworktypegroup.Name}&lt;/strong&gt;&lt;strong style="color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);"&gt; &lt;/strong&gt;&lt;span style="color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);"&gt;has been booked from &lt;/span&gt;&lt;strong style="color: rgb(255, 2, 2); font-size: 14px;"&gt;{!ServiceAppointment.SchedStartTime}&lt;/strong&gt;&lt;span style="color: rgb(0, 0, 0); font-size: 14px;"&gt; to &lt;/span&gt;&lt;strong style="color: rgb(255, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);"&gt;{!ServiceAppointment.SchedEndTime}&lt;/strong&gt;&lt;strong style="color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);"&gt;.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style="color: rgb(0, 0, 0); font-size: 14px;"&gt;{!ServiceAppointment.Street}&lt;/span&gt;&lt;span style="color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);"&gt;{!ServiceAppointment.City}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style="color: rgb(0, 0, 0); font-size: 14px;"&gt;{!ServiceAppointment.State}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style="font-size: 14px; color: rgb(0, 0, 0);"&gt;{!ServiceAppointment.Country}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style="color: rgb(0, 0, 0); font-size: 14px;"&gt;{!ServiceAppointment.PostalCode}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style="color: rgb(0, 0, 0); font-family: Corporative-Regular; font-size: 16px; background-color: rgb(255, 255, 255);"&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
          <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
          <name>flowReview</name>
          <extensionName>runtime_appointmentbooking:flowReview</extensionName>
          <fieldType>ComponentInstance</fieldType>
          <inputParameters>
            <name>additionalInformation</name>
            <value>
              <elementReference>ServiceAppointment.AdditionalInformation</elementReference>
            </value>
          </inputParameters>
          <inputParameters>
            <name>appointmentType</name>
            <value>
              <elementReference>ServiceAppointment.AppointmentType</elementReference>
            </value>
          </inputParameters>
          <inputParameters>
            <name>city</name>
            <value>
              <elementReference>ServiceAppointment.City</elementReference>
            </value>
          </inputParameters>
          <inputParameters>
            <name>comments</name>
            <value>
              <elementReference>ServiceAppointment.Comments</elementReference>
            </value>
          </inputParameters>
          <inputParameters>
            <name>country</name>
            <value>
              <elementReference>ServiceAppointment.Country</elementReference>
            </value>
          </inputParameters>
          <inputParameters>
            <name>endDateTime</name>
            <value>
              <elementReference>ServiceAppointment.SchedEndTime</elementReference>
            </value>
          </inputParameters>
          <inputParameters>
            <name>parentRecordId</name>
            <value>
              <elementReference>ServiceAppointment.ParentRecordId</elementReference>
            </value>
          </inputParameters>
          <inputParameters>
            <name>postalCode</name>
            <value>
              <elementReference>ServiceAppointment.PostalCode</elementReference>
            </value>
          </inputParameters>
          <inputParameters>
            <name>serviceResourceId</name>
            <value>
              <elementReference>ServiceResourceId</elementReference>
            </value>
          </inputParameters>
          <inputParameters>
            <name>serviceTerritoryId</name>
            <value>
              <elementReference>ServiceAppointment.ServiceTerritoryId</elementReference>
            </value>
          </inputParameters>
          <inputParameters>
            <name>startDateTime</name>
            <value>
              <elementReference>ServiceAppointment.SchedStartTime</elementReference>
            </value>
          </inputParameters>
          <inputParameters>
            <name>state</name>
            <value>
              <elementReference>ServiceAppointment.State</elementReference>
            </value>
          </inputParameters>
          <inputParameters>
            <name>street</name>
            <value>
              <elementReference>ServiceAppointment.Street</elementReference>
            </value>
          </inputParameters>
          <inputParameters>
            <name>workTypeGroupId</name>
            <value>
              <elementReference>WorkTypeGroupId</elementReference>
            </value>
          </inputParameters>
          <inputParameters>
            <name>serviceAppointmentFields</name>
            <value>
              <elementReference>ServiceAppointmentFields</elementReference>
            </value>
          </inputParameters>
          <inputParameters>
            <name>optionalAttendees</name>
            <value>
              <elementReference>OptionalAttendees</elementReference>
            </value>
          </inputParameters>
          <inputParameters>
            <name>saveErrors</name>
            <value>
              <elementReference>$Flow.FaultMessage</elementReference>
            </value>
          </inputParameters>
          <inputParameters>
            <name>validationErrors</name>
            <value>
              <elementReference>ValidationErrors</elementReference>
            </value>
          </inputParameters>
          <inputParameters>
            <name>serviceResources</name>
            <value>
              <stringValue></stringValue>
            </value>
          </inputParameters>
          <inputParameters>
            <name>selectedTimezone</name>
            <value>
              <elementReference>selectedTimezone</elementReference>
            </value>
          </inputParameters>
          <inputParameters>
            <name>contactId</name>
            <value>
              <stringValue></stringValue>
            </value>
          </inputParameters>
          <inputParameters>
            <name>isAnonymousBooking</name>
            <value>
              <elementReference>ServiceAppointment.IsAnonymousBooking</elementReference>
            </value>
          </inputParameters>
          <inputParameters>
            <name>isShowResourceSection</name>
            <value>
              <booleanValue>false</booleanValue>
            </value>
          </inputParameters>
          <inputParameters>
            <name>schedulingPolicyName</name>
            <value>
              <elementReference>SchedulingPolicyName</elementReference>
            </value>
          </inputParameters>
          <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
          <isRequired>true</isRequired>
          <outputParameters>
            <assignToReference>ServiceAppointmentFields</assignToReference>
            <name>serviceAppointmentFields</name>
          </outputParameters>
          <outputParameters>
            <assignToReference>OptionalAttendees</assignToReference>
            <name>optionalAttendees</name>
          </outputParameters>
          <outputParameters>
            <assignToReference>ValidationErrors</assignToReference>
            <name>validationErrors</name>
          </outputParameters>
          <outputParameters>
            <assignToReference>Lead</assignToReference>
            <name>lead</name>
          </outputParameters>
        </fields>
        <inputParameters>
          <name>width</name>
          <value>
            <stringValue>10</stringValue>
          </value>
        </inputParameters>
        <isRequired>false</isRequired>
      </fields>
      <isRequired>false</isRequired>
      <regionContainerType>SectionWithoutHeader</regionContainerType>
    </fields>
    <nextOrFinishButtonLabel>Reserve it</nextOrFinishButtonLabel>
    <showFooter>true</showFooter>
    <showHeader>false</showHeader>
  </screens>
  <screens>
    <name>Type</name>
    <label>Type</label>
    <locationX>975</locationX>
    <locationY>2461</locationY>
    <allowBack>true</allowBack>
    <allowFinish>true</allowFinish>
    <allowPause>false</allowPause>
    <connector>
      <targetReference>update_lead_status</targetReference>
    </connector>
    <fields>
      <name>Selectmarkettype</name>
      <fieldText>&lt;p&gt;Select the type of service that is required. &lt;/p&gt;</fieldText>
      <fieldType>DisplayText</fieldType>
    </fields>
    <fields>
      <name>Serviceappointmenttypevalues</name>
      <extensionName>flowmagic:FlowPicklist</extensionName>
      <fieldType>ComponentInstance</fieldType>
      <inputParameters>
        <name>sObjectName</name>
        <value>
          <stringValue>ServiceAppointment</stringValue>
        </value>
      </inputParameters>
      <inputParameters>
        <name>picklistField</name>
        <value>
          <stringValue>AppointmentType</stringValue>
        </value>
      </inputParameters>
      <inputParameters>
        <name>imageSize</name>
        <value>
          <stringValue>full</stringValue>
        </value>
      </inputParameters>
      <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
      <isRequired>true</isRequired>
      <outputParameters>
        <assignToReference>selectedappointmenttypevalue</assignToReference>
        <name>selectedValue</name>
      </outputParameters>
    </fields>
    <showFooter>true</showFooter>
    <showHeader>false</showHeader>
  </screens>
  <screens>
    <name>Zip_Code_Not_In_Service</name>
    <label>Zip Code Not In Service</label>
    <locationX>1767</locationX>
    <locationY>1646</locationY>
    <allowBack>true</allowBack>
    <allowFinish>true</allowFinish>
    <allowPause>false</allowPause>
    <fields>
      <name>screenCantServiceZip</name>
      <fieldText>&lt;p&gt;Based on your submission we do not currently service your area. If you have any further questions you can call our service center at (800) 239-7830&lt;/p&gt;</fieldText>
      <fieldType>DisplayText</fieldType>
    </fields>
    <showFooter>true</showFooter>
    <showHeader>false</showHeader>
  </screens>
  <sourceTemplate>runtime_appointmentbooking__Guest_Flow</sourceTemplate>
  <stages>
    <name>AppointmentTypeStage</name>
    <isActive>true</isActive>
    <label>Select Appointment Type</label>
    <stageOrder>10</stageOrder>
  </stages>
  <stages>
    <name>CandidateStage</name>
    <isActive>true</isActive>
    <label>Select Candidate</label>
    <stageOrder>90</stageOrder>
  </stages>
  <stages>
    <name>CompositeStage</name>
    <isActive>false</isActive>
    <label>CompositeStage</label>
    <stageOrder>30</stageOrder>
  </stages>
  <stages>
    <name>ConfirmationStage</name>
    <isActive>true</isActive>
    <label>Confirmation</label>
    <stageOrder>50</stageOrder>
  </stages>
  <stages>
    <name>LocationStage</name>
    <isActive>true</isActive>
    <label>Select Location</label>
    <stageOrder>20</stageOrder>
  </stages>
  <stages>
    <name>ReviewStage</name>
    <isActive>true</isActive>
    <label>Review</label>
    <stageOrder>40</stageOrder>
  </stages>
  <stages>
    <name>TimeSlotStage</name>
    <isActive>true</isActive>
    <label>Select Time Slot</label>
    <stageOrder>95</stageOrder>
  </stages>
  <stages>
    <name>TopicStage</name>
    <isActive>true</isActive>
    <label>Select Topic</label>
    <stageOrder>0</stageOrder>
  </stages>
  <start>
    <locationX>1245</locationX>
    <locationY>48</locationY>
    <connector>
      <targetReference>Request_an_Appointment</targetReference>
    </connector>
  </start>
  <status>Active</status>
  <subflows>
    <name>Call_Zip_Code_Object_Lookup</name>
    <label>Call Zip Code Object Lookup</label>
    <locationX>1296</locationX>
    <locationY>568</locationY>
    <connector>
      <targetReference>get_accounts_before_decision</targetReference>
    </connector>
    <flowName>Zip_Code_Object_Lookup</flowName>
    <inputAssignments>
      <name>textZipCodeName</name>
      <value>
        <elementReference>Zipcode</elementReference>
      </value>
    </inputAssignments>
    <storeOutputAutomatically>true</storeOutputAutomatically>
  </subflows>
  <subflows>
    <name>registerUser</name>
    <label>registerUser</label>
    <locationX>1371</locationX>
    <locationY>5054</locationY>
    <connector>
      <targetReference>Update_Status</targetReference>
    </connector>
    <flowName>External_patient_registration</flowName>
    <inputAssignments>
      <name>firstName</name>
      <value>
        <elementReference>First_Name</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <name>lastName</name>
      <value>
        <elementReference>Last_Name</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <name>leadEmail</name>
      <value>
        <elementReference>Emailfrominitialform.value</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <name>leadZip</name>
      <value>
        <elementReference>Zipcode</elementReference>
      </value>
    </inputAssignments>
    <storeOutputAutomatically>true</storeOutputAutomatically>
  </subflows>
  <variables>
    <name>allowAnonymousBooking</name>
    <dataType>Boolean</dataType>
    <isCollection>false</isCollection>
    <isInput>false</isInput>
    <isOutput>false</isOutput>
    <value>
      <booleanValue>false</booleanValue>
    </value>
  </variables>
  <variables>
    <name>allowResourceBooking</name>
    <dataType>Boolean</dataType>
    <isCollection>false</isCollection>
    <isInput>false</isInput>
    <isOutput>false</isOutput>
    <value>
      <booleanValue>true</booleanValue>
    </value>
  </variables>
  <variables>
    <name>apexLatitude</name>
    <dataType>String</dataType>
    <isCollection>false</isCollection>
    <isInput>true</isInput>
    <isOutput>true</isOutput>
  </variables>
  <variables>
    <name>apexLongitude</name>
    <dataType>String</dataType>
    <isCollection>false</isCollection>
    <isInput>true</isInput>
    <isOutput>true</isOutput>
  </variables>
  <variables>
    <name>correlationId</name>
    <dataType>String</dataType>
    <isCollection>false</isCollection>
    <isInput>false</isInput>
    <isOutput>false</isOutput>
  </variables>
  <variables>
    <description>Specify a default time zone for Lightning Scheduler appointments.</description>
    <name>DefaultTimeZone</name>
    <dataType>String</dataType>
    <isCollection>false</isCollection>
    <isInput>false</isInput>
    <isOutput>false</isOutput>
  </variables>
  <variables>
    <name>disableMultiResource</name>
    <dataType>Boolean</dataType>
    <isCollection>false</isCollection>
    <isInput>false</isInput>
    <isOutput>false</isOutput>
    <value>
      <booleanValue>true</booleanValue>
    </value>
  </variables>
  <variables>
    <description>variable to hold values of distance units.</description>
    <name>distanceUnit</name>
    <dataType>String</dataType>
    <isCollection>false</isCollection>
    <isInput>false</isInput>
    <isOutput>false</isOutput>
    <value>
      <stringValue>mi</stringValue>
    </value>
  </variables>
  <variables>
    <description>Specify a comma-separated list of service resource IDs. Depending on the page, these IDs are used to filter work type groups, service territories, or service resources.</description>
    <name>FilterByResourceIds</name>
    <dataType>String</dataType>
    <isCollection>false</isCollection>
    <isInput>false</isInput>
    <isOutput>false</isOutput>
  </variables>
  <variables>
    <name>GACLIENTID</name>
    <dataType>String</dataType>
    <isCollection>false</isCollection>
    <isInput>true</isInput>
    <isOutput>false</isOutput>
  </variables>
  <variables>
    <name>GATRACKID</name>
    <dataType>String</dataType>
    <isCollection>false</isCollection>
    <isInput>true</isInput>
    <isOutput>false</isOutput>
  </variables>
  <variables>
    <name>GAUSERID</name>
    <dataType>String</dataType>
    <isCollection>false</isCollection>
    <isInput>true</isInput>
    <isOutput>false</isOutput>
  </variables>
  <variables>
    <name>isGuestUser</name>
    <dataType>Boolean</dataType>
    <isCollection>false</isCollection>
    <isInput>false</isInput>
    <isOutput>false</isOutput>
    <value>
      <booleanValue>true</booleanValue>
    </value>
  </variables>
  <variables>
    <name>IsInbound</name>
    <dataType>Boolean</dataType>
    <isCollection>false</isCollection>
    <isInput>false</isInput>
    <isOutput>false</isOutput>
    <value>
      <booleanValue>true</booleanValue>
    </value>
  </variables>
  <variables>
    <name>Lead</name>
    <dataType>SObject</dataType>
    <isCollection>false</isCollection>
    <isInput>false</isInput>
    <isOutput>false</isOutput>
    <objectType>Lead</objectType>
  </variables>
  <variables>
    <name>LeadIDforstatusupdate</name>
    <dataType>String</dataType>
    <isCollection>false</isCollection>
    <isInput>false</isInput>
    <isOutput>false</isOutput>
    <value>
      <elementReference>ServiceAppointment.ParentRecordId</elementReference>
    </value>
  </variables>
  <variables>
    <name>leadIdintext</name>
    <dataType>String</dataType>
    <isCollection>false</isCollection>
    <isInput>false</isInput>
    <isOutput>false</isOutput>
  </variables>
  <variables>
    <name>LocationDistance</name>
    <dataType>Number</dataType>
    <isCollection>false</isCollection>
    <isInput>false</isInput>
    <isOutput>false</isOutput>
    <scale>2</scale>
    <value>
      <numberValue>5.0</numberValue>
    </value>
  </variables>
  <variables>
    <name>LocationLatitude</name>
    <dataType>String</dataType>
    <isCollection>false</isCollection>
    <isInput>false</isInput>
    <isOutput>false</isOutput>
  </variables>
  <variables>
    <name>LocationLongitude</name>
    <dataType>String</dataType>
    <isCollection>false</isCollection>
    <isInput>false</isInput>
    <isOutput>false</isOutput>
  </variables>
  <variables>
    <name>OptionalAttendees</name>
    <dataType>String</dataType>
    <isCollection>false</isCollection>
    <isInput>false</isInput>
    <isOutput>false</isOutput>
  </variables>
  <variables>
    <name>recordterritorries</name>
    <dataType>String</dataType>
    <isCollection>true</isCollection>
    <isInput>false</isInput>
    <isOutput>false</isOutput>
  </variables>
  <variables>
    <description>Stores the API name of the scheduling policy you want to associate with the flow.</description>
    <name>SchedulingPolicyName</name>
    <dataType>String</dataType>
    <isCollection>false</isCollection>
    <isInput>false</isInput>
    <isOutput>false</isOutput>
    <value>
      <stringValue>default_appointment_scheduling_policy</stringValue>
    </value>
  </variables>
  <variables>
    <name>selectedappointmenttypevalue</name>
    <dataType>String</dataType>
    <isCollection>false</isCollection>
    <isInput>false</isInput>
    <isOutput>false</isOutput>
  </variables>
  <variables>
    <name>SelectedLocation</name>
    <dataType>String</dataType>
    <isCollection>false</isCollection>
    <isInput>false</isInput>
    <isOutput>false</isOutput>
  </variables>
  <variables>
    <name>selectedresourceid</name>
    <dataType>String</dataType>
    <isCollection>false</isCollection>
    <isInput>false</isInput>
    <isOutput>false</isOutput>
  </variables>
  <variables>
    <name>selectedserviceterritorry</name>
    <dataType>String</dataType>
    <isCollection>true</isCollection>
    <isInput>false</isInput>
    <isOutput>false</isOutput>
  </variables>
  <variables>
    <name>selectedTimezone</name>
    <dataType>String</dataType>
    <isCollection>false</isCollection>
    <isInput>false</isInput>
    <isOutput>false</isOutput>
  </variables>
  <variables>
    <name>SelectedTriageOption</name>
    <dataType>String</dataType>
    <isCollection>false</isCollection>
    <isInput>false</isInput>
    <isOutput>false</isOutput>
    <value>
      <elementReference>FIND_RESOURCE</elementReference>
    </value>
  </variables>
  <variables>
    <name>ServiceAppointment</name>
    <dataType>SObject</dataType>
    <isCollection>false</isCollection>
    <isInput>false</isInput>
    <isOutput>false</isOutput>
    <objectType>ServiceAppointment</objectType>
  </variables>
  <variables>
    <name>ServiceAppointmentFields</name>
    <dataType>String</dataType>
    <isCollection>false</isCollection>
    <isInput>false</isInput>
    <isOutput>false</isOutput>
  </variables>
  <variables>
    <name>ServiceAppointmentId</name>
    <dataType>String</dataType>
    <isCollection>false</isCollection>
    <isInput>false</isInput>
    <isOutput>true</isOutput>
  </variables>
  <variables>
    <name>ServiceResourceId</name>
    <dataType>String</dataType>
    <isCollection>false</isCollection>
    <isInput>false</isInput>
    <isOutput>false</isOutput>
  </variables>
  <variables>
    <name>ServiceResourceName</name>
    <dataType>String</dataType>
    <isCollection>false</isCollection>
    <isInput>false</isInput>
    <isOutput>false</isOutput>
  </variables>
  <variables>
    <name>serviceResources</name>
    <dataType>String</dataType>
    <isCollection>false</isCollection>
    <isInput>false</isInput>
    <isOutput>false</isOutput>
  </variables>
  <variables>
    <name>serviceterritorylist</name>
    <dataType>String</dataType>
    <isCollection>true</isCollection>
    <isInput>false</isInput>
    <isOutput>false</isOutput>
  </variables>
  <variables>
    <name>showServiceResource</name>
    <dataType>Boolean</dataType>
    <isCollection>false</isCollection>
    <isInput>false</isInput>
    <isOutput>false</isOutput>
    <value>
      <booleanValue>true</booleanValue>
    </value>
  </variables>
  <variables>
    <name>showTimeZonePicklist</name>
    <dataType>Boolean</dataType>
    <isCollection>false</isCollection>
    <isInput>false</isInput>
    <isOutput>false</isOutput>
    <value>
      <booleanValue>false</booleanValue>
    </value>
  </variables>
  <variables>
    <name>singlevaluefromcollection</name>
    <dataType>String</dataType>
    <isCollection>false</isCollection>
    <isInput>false</isInput>
    <isOutput>false</isOutput>
  </variables>
  <variables>
    <name>StartDate</name>
    <dataType>String</dataType>
    <isCollection>false</isCollection>
    <isInput>false</isInput>
    <isOutput>false</isOutput>
  </variables>
  <variables>
    <name>storeresourcename</name>
    <dataType>String</dataType>
    <isCollection>false</isCollection>
    <isInput>false</isInput>
    <isOutput>false</isOutput>
  </variables>
  <variables>
    <name>Utmcampaign</name>
    <dataType>String</dataType>
    <isCollection>false</isCollection>
    <isInput>true</isInput>
    <isOutput>false</isOutput>
  </variables>
  <variables>
    <name>Utmcontent</name>
    <dataType>String</dataType>
    <isCollection>false</isCollection>
    <isInput>true</isInput>
    <isOutput>false</isOutput>
  </variables>
  <variables>
    <name>Utmmedium</name>
    <dataType>String</dataType>
    <isCollection>false</isCollection>
    <isInput>true</isInput>
    <isOutput>false</isOutput>
  </variables>
  <variables>
    <name>Utmsource</name>
    <dataType>String</dataType>
    <isCollection>false</isCollection>
    <isInput>true</isInput>
    <isOutput>false</isOutput>
  </variables>
  <variables>
    <name>Utmterm</name>
    <dataType>String</dataType>
    <isCollection>false</isCollection>
    <isInput>true</isInput>
    <isOutput>false</isOutput>
  </variables>
  <variables>
    <name>ValidationErrors</name>
    <dataType>String</dataType>
    <isCollection>false</isCollection>
    <isInput>false</isInput>
    <isOutput>false</isOutput>
  </variables>
  <variables>
    <name>WorkTypeGroupId</name>
    <dataType>String</dataType>
    <isCollection>false</isCollection>
    <isInput>false</isInput>
    <isOutput>false</isOutput>
  </variables>
  <variables>
    <name>ZipCodeRecord</name>
    <dataType>SObject</dataType>
    <isCollection>false</isCollection>
    <isInput>true</isInput>
    <isOutput>true</isOutput>
    <objectType>pw_ccpro__ZipCode__c</objectType>
  </variables>
</Flow>